<script>
	//ov_view_info_01 se carga en container_01
	$("#ov_view_container_01").css("background-color","#801669");	
</script>

<div id="ov_zone_09_1" class="ov_zone_09">
	
	<div id="ov_box_06_1" class="ov_box_06">
		<div id="ov_text_08_1" class="ov_text_08">
			<img src="styles/images/f_blanca.png" id="ov_image_07_1" class="ov_image_07" alt="arrow_03"/> volver
		</div>
		<script>
			$("#ov_text_08_1").click(function(e){
				$('#ov_view_container_02').load("./views/general/ov_view_main_menu_01.html",function(){
					$('#ov_view_container_02').show('slide',{direction: "left"},500);
					$('#ov_view_container_01').hide('slide',{direction: "right"},500);				
				});	
			});
		</script>
	</div>
	
	<div id="ov_box_07_1" class="ov_box_07">
		<div id="ov_box_08_1" class="ov_box_08">
			<div id="ov_text_06_1" class="ov_text_06">
				SEMANA SANTA<br> - ÁVILA -
			</div>
			<div id="ov_text_07_1" class="ov_text_07">
				<p>
					Todos aquellos que de una forma u otra sienten la Semana Santa de Ávila recordarán 2014 como el año en el que se logró la declaración de Interés Turístico Internacional. Un título que viene a reconocer el trabajo que se ha realizado en las últimas dos décadas para revitalizar y engrandecer una manifestación religiosa y cultural que tiene una larga tradición.
				</p>
				<p>
					En los últimos años han surgido nuevas cofradías, nuevas procesiones y savia nueva en las cofradías más antiguas. Todos los días, desde el Viernes de Dolores hasta el Domingo de Resurrección, podemos ver a los penitentes en las calles empedradas del centro histórico.
				</p>
				<p>
					También este año hay novedades. El viernes santo habrá penitentes a caballo anunciando por las plazas del casco histórico la celebración del Sermón de las Siete Palabras. Y hasta el 30 de abril, en el Palacio de Los Verdugo, se podrá ver una exposición que recorre la historia de la Semana Santa en el siglo XX a través de fotografías.
				</p>
				<p>
					La Semana Santa de Ávila está viva. Son diez días de emociones, devoción, recogimiento, arte, silencio y música...Y a la vez son días para disfrutar de las calles, de los hoteles, del comercio, de la ciudad que abre su muralla a propios y extraños.
				</p>
				<p>
					Vívelo con CADENA SER ÁVILA.
				</p>				
			</div>
		</div>
	</div>
	
	<div class="ov_clear_floats_01">&nbsp;</div>
</div>

<script>
	$("#ov_zone_09_1").css("height",(viewport_height-60)+"px");
	$("#ov_box_06_1").css("height",(viewport_height-60)+"px");
	$("#ov_box_07_1").css("height",(viewport_height-60)+"px");
	$("#ov_box_07_1").css("overflow","auto");		
</script>

<!-- Publi -->
<div id="ov_zone_08_2" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_2");
</script>


