<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited">
		
		<div id="ov_calendar_container">
	
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			<div class="ov_text_12">MARZO</div>
			<div class="ov_white_line_2"> </div>
			
			<div class="hollow_10px"> </div>		
			<!--Decorative -->
			
			<div id="ov_calendar_items_container">	
				
				<div id="ov_box_10_27_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_6">
						Viernes
					</div>
					<div id="ov_vertical_space_03_27_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_6">
						27
					</div>
				</div>
				<script>
					$("#ov_box_10_27_mar").click(function(e){					
						selected_day_in_proce_list=27;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_28_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_7">
						Sábado
					</div>
					<div id="ov_vertical_space_03_28_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_7">
						28
					</div>
				</div>
				<script>
					$("#ov_box_10_28_mar").click(function(e){					
						selected_day_in_proce_list=28;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_29_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_8">
						Domingo
					</div>
					<div id="ov_vertical_space_03_29_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_8">
						29
					</div>
				</div>
				<script>
					$("#ov_box_10_29_mar").click(function(e){
						selected_day_in_proce_list=29;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_30_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_9">
						Lunes
					</div>
					<div id="ov_vertical_space_03_30_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_9">
						30
					</div>
				</div>
				<script>
					$("#ov_box_10_30_mar").click(function(e){
						selected_day_in_proce_list=30;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_31_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Martes
					</div>
					<div id="ov_vertical_space_03_31_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						31
					</div>
				</div>
				<script>
					$("#ov_box_10_31_mar").click(function(e){						
						selected_day_in_proce_list=31;
						calculate_day();	
					});
				</script>
			
			</div>
			
			<div class="ov_clear_floats">&nbsp;</div>		
			
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			<div class="ov_text_12">ABRIL</div>
			<div class="ov_white_line_2"> </div>
			
			<div id="ov_calendar_items_container">	
								
				<div id="ov_box_10_1_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Miércoles
					</div>
					<div id="ov_vertical_space_03_1_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						1
					</div>
				</div>
				<script>
					$("#ov_box_10_1_abr").click(function(e){						
						selected_day_in_proce_list=1;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_2_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Jueves
					</div>
					<div id="ov_vertical_space_03_2_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						2
					</div>
				</div>
				<script>
					$("#ov_box_10_2_abr").click(function(e){						
						selected_day_in_proce_list=2;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_3_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Viernes
					</div>
					<div id="ov_vertical_space_03_3_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						3
					</div>
				</div>
				<script>
					$("#ov_box_10_3_abr").click(function(e){						
						selected_day_in_proce_list=3;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_4_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Sábado
					</div>
					<div id="ov_vertical_space_03_4_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						4
					</div>
				</div>
				<script>
					$("#ov_box_10_4_abr").click(function(e){						
						selected_day_in_proce_list=4;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_5_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Domingo
					</div>
					<div id="ov_vertical_space_03_5_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						5
					</div>
				</div>
				<script>
					$("#ov_box_10_5_abr").click(function(e){						
						selected_day_in_proce_list=5;
						calculate_day();	
					});
				</script>
				
				<div class="ov_clear_floats">&nbsp;</div>		
					
			</div>
			
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			
			<div class="hollow_10px"> </div>		
			<!--Decorative -->
	
		</div>
		
		<div id="proce_list_container">
	
			<div class="hollow_10px"> </div>
			<div class="hollow_10px"> </div>	
			
			<div id="ov_zone_13_27_mar" class="ov_zone_13">
				
				<div id="ov_box_13_1" class="ov_box_13">
					<div id="ov_box_14_1" class="ov_box_14">
						<div id="ov_text_12_1" class="ov_text_12">
							VIA MATRIS
						</div>
						<div id="ov_text_13_1" class="ov_text_13">
							Día 27
						</div>
					</div>
					<div id="ov_box_15_1" class="ov_box_15">
						<div id="ov_text_15_1" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_1" class="ov_text_14">
							20:00h<br>
							Palacio de Polentinos "Archivo General Militar"
						</div>
						<div id="ov_box_16_1" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_1").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_via_matris_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_28_mar" class="ov_zone_13">
				
				<div id="ov_box_13_2" class="ov_box_13">
					<div id="ov_box_14_2" class="ov_box_14">
						<div id="ov_text_12_2" class="ov_text_12">
							PROCESIÓN DE LOS ESTUDIANTES
						</div>
						<div id="ov_text_13_2" class="ov_text_13">
							Día 28
						</div>
					</div>
					<div id="ov_box_15_2" class="ov_box_15">
						<div id="ov_text_15_2" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_2" class="ov_text_14">
							17:00h<br>
							Iglesia de San Pedro Apóstol
						</div>
						<div id="ov_box_16_2" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_2").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_estudiantes_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
				
			<div id="ov_zone_13_29_mar" class="ov_zone_13">
				
				<div id="ov_box_13_3" class="ov_box_13">
					<div id="ov_box_14_3" class="ov_box_14">
						<div id="ov_text_12_3" class="ov_text_12">
							LAS PALMAS
						</div>
						<div id="ov_text_13_3" class="ov_text_13">
							Día 29
						</div>
					</div>
					<div id="ov_box_15_3" class="ov_box_15">
						<div id="ov_text_15_3" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_3" class="ov_text_14">
							Fin de Misa Mayor 11:00h<br>
							S.A.I. Catedral
						</div>
						<div id="ov_box_16_3" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_3").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_las_palmas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
												
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_30_mar" class="ov_zone_13">
				
				<div id="ov_box_13_4" class="ov_box_13">
					<div id="ov_box_14_4" class="ov_box_14">
						<div id="ov_text_12_4" class="ov_text_12">
							PROCESIÓN DE LA ILUSIÓN
						</div>
						<div id="ov_text_13_4" class="ov_text_13">
							Día 30
						</div>
					</div>
					<div id="ov_box_15_4" class="ov_box_15">
						<div id="ov_text_15_4" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_4" class="ov_text_14">
							20:45h<br>
							Ermita Ntra. Sra. de las Vacas
						</div>
						<div id="ov_box_16_4" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_4").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_encuentro_1_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_5" class="ov_box_13">
					<div id="ov_box_14_5" class="ov_box_14">
						<div id="ov_text_12_5" class="ov_text_12">
							PROCESIÓN DE LA ESPERANZA
						</div>
						<div id="ov_text_13_5" class="ov_text_13">
							Día 30
						</div>
					</div>
					<div id="ov_box_15_4" class="ov_box_15">
						<div id="ov_text_15_5" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_5" class="ov_text_14">
							19:00h<br>
							Iglesia de San Ignacio de Loyola
						</div>
						<div id="ov_box_16_5" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_5").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_encuentro_2_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_31_mar" class="ov_zone_13">
				
				<div id="ov_box_13_6" class="ov_box_13">
					<div id="ov_box_14_6" class="ov_box_14">
						<div id="ov_text_12_6" class="ov_text_12">
							PROCESIÓN DE LA ESTRELLA
						</div>
						<div id="ov_text_13_6" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_6" class="ov_box_15">
						<div id="ov_text_15_6" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_6" class="ov_text_14">
							20:00h<br>
							Iglesia de Santa María de Jesús ("Las Gordillas")
						</div>
						<div id="ov_box_16_6" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_6").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_estrella_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_7" class="ov_box_13">
					<div id="ov_box_14_7" class="ov_box_14">
						<div id="ov_text_12_7" class="ov_text_12">
							PROCESIÓN DE MEDINACELI
						</div>
						<div id="ov_text_13_7" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_7" class="ov_box_15">
						<div id="ov_text_15_7" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_7" class="ov_text_14">
							21:00h<br>
							S.A.I. Catedral
						</div>
						<div id="ov_box_16_7" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_7").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_medinaceli_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_8" class="ov_box_13">
					<div id="ov_box_14_8" class="ov_box_14">
						<div id="ov_text_12_8" class="ov_text_12">
							PROCESIÓN DEL MISERERE
						</div>
						<div id="ov_text_13_8" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_8" class="ov_box_15">
						<div id="ov_text_15_8" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_8" class="ov_text_14">
							00:00h<br>
							Iglesia de la Magdalena
						</div>
						<div id="ov_box_16_8" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_8").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_miserere_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_1_abr" class="ov_zone_13">
			
				<div id="ov_box_13_9" class="ov_box_13">
					<div id="ov_box_14_9" class="ov_box_14">
						<div id="ov_text_12_9" class="ov_text_12">
							PROCESIÓN DEL SILENCIO
						</div>
						<div id="ov_text_13_9" class="ov_text_13">
							Día 1
						</div>
					</div>
					<div id="ov_box_15_9" class="ov_box_15">
						<div id="ov_text_15_9" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_9" class="ov_text_14">
							20:30h<br>
							Iglesia de San Nicolás
						</div>
						<div id="ov_box_16_9" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_9").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_silencio_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_10" class="ov_box_13">
					<div id="ov_box_14_10" class="ov_box_14">
						<div id="ov_text_12_10" class="ov_text_12">
							PROCESIÓN DEL CRISTO DE LAS BATALLAS
						</div>
						<div id="ov_text_13_10" class="ov_text_13">
							Día 1
						</div>
					</div>
					<div id="ov_box_15_10" class="ov_box_15">
						<div id="ov_text_15_10" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_10" class="ov_text_14">
							23:00h<br>
							Iglesia de San Pedro Apóstol
						</div>
						<div id="ov_box_16_10" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_10").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_batallas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
			
			</div>
			
			<div id="ov_zone_13_2_abr" class="ov_zone_13">
				
				<div id="ov_box_13_11" class="ov_box_13">
					<div id="ov_box_14_11" class="ov_box_14">
						<div id="ov_text_12_11" class="ov_text_12">
							PROCESIÓN DE LA MADRUGADA
						</div>
						<div id="ov_text_13_11" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_11" class="ov_box_15">
						<div id="ov_text_15_11" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_11" class="ov_text_14">
							02:00h<br>
							S.A.I. Catedral
						</div>
						<div id="ov_box_16_11" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_11").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_madrugada_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_12" class="ov_box_13">
					<div id="ov_box_14_12" class="ov_box_14">
						<div id="ov_text_12_12" class="ov_text_12">
							PROCESIÓN DE LOS PASOS
						</div>
						<div id="ov_text_13_12" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_12" class="ov_box_15">
						<div id="ov_text_15_12" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_12" class="ov_text_14">
							19:30h<br>
							S.A.I. Catedral
						</div>
						<div id="ov_box_16_12" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_12").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_pasos_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_3_abr" class="ov_zone_13">

				<div id="ov_box_13_13" class="ov_box_13">
					<div id="ov_box_14_13" class="ov_box_14">
						<div id="ov_text_12_13" class="ov_text_12">
							VÍA CRUCIS
						</div>
						<div id="ov_text_13_13" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_13" class="ov_box_15">
						<div id="ov_text_15_13" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_13" class="ov_text_14">
							05:30h<br>
							S.A.I Catedral
						</div>
						<div id="ov_box_16_13" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_13").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_via_crucis_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_14" class="ov_box_13">
					<div id="ov_box_14_14" class="ov_box_14">
						<div id="ov_text_12_14" class="ov_text_12">
							SERMÓN DE LAS SIETE PALABRAS
						</div>
						<div id="ov_text_13_14" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_14" class="ov_box_15">
						<div id="ov_text_15_14" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_14" class="ov_text_14">
							12:00h<br>
							Iglesia de San Ignacio de Loyola (Antiguo Santo Tomé)
						</div>
						<div id="ov_box_16_14" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_14").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_sermon_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>	

				<div id="ov_box_13_15" class="ov_box_13">
					<div id="ov_box_14_15" class="ov_box_14">
						<div id="ov_text_12_15" class="ov_text_12">
							PASIÓN Y SANTO ENTIERRO
						</div>
						<div id="ov_text_13_15" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_15" class="ov_box_15">
						<div id="ov_text_15_15" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_15" class="ov_text_14">
							17:00h<br>
							S.A.I. Catedral
						</div>
						<div id="ov_box_16_15" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_15").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_pasion_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_4_abr" class="ov_zone_13">
				
				<div id="ov_box_13_16" class="ov_box_13">
					<div id="ov_box_14_16" class="ov_box_14">
						<div id="ov_text_12_16" class="ov_text_12">
							PROCESIÓN DE LA SOLEDAD
						</div>
						<div id="ov_text_13_16" class="ov_text_13">
							Día 4
						</div>
					</div>
					<div id="ov_box_15_16" class="ov_box_15">
						<div id="ov_text_15_16" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_16" class="ov_text_14">
							19:45h<br>
							Iglesia de San Pedro Apóstol
						</div>
						<div id="ov_box_16_16" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_16").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_soledad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>				
					
			</div>
			
			<div id="ov_zone_13_5_abr" class="ov_zone_13">
			
				<div id="ov_box_13_17" class="ov_box_13">
					<div id="ov_box_14_17" class="ov_box_14">
						<div id="ov_text_12_17" class="ov_text_12">
							PROCESIÓN DEL RESUCITADO
						</div>
						<div id="ov_text_13_17" class="ov_text_13">
							Día 5
						</div>
					</div>
					<div id="ov_box_15_17" class="ov_box_15">
						<div id="ov_text_15_17" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_17" class="ov_text_14">
							Fin Misa Solemne 11:00h<br>
							Iglesia de La Sagrada Familia
						</div>
						<div id="ov_box_16_17" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_17").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_resucitado_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>				
						
			</div>
	
			<div class="hollow_10px"> </div>
			<div class="hollow_10px"> </div>
			
		</div>
		
	</div>
		
</div>
<script>
	calculate_day();	
</script>



