<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>
<!-- Publi -->
<div id="ov_zone_08_4" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_4");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_soledad" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_soledad").click(function(e){
			if(referrer_from_herman=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_proce_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_herman,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_herman="";				
				});
			}
				
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->

<div id="ov_zone_13_soledad" class="ov_zone_13_b">
		
	<div id="ov_box_13_soledad" class="ov_box_13_b">
		<div id="ov_box_14_soledad" class="ov_box_14">
			<div id="ov_text_12_soledad" class="ov_text_12_b">
				PROCESIÓN DE LA SOLEDAD
			</div>
			<div id="ov_text_13_soledad" class="ov_text_13">
				día 19<br>
				Sábado Santo<br><br> 
			</div>
		</div>
		<div id="ov_box_15_soledad" class="ov_box_15">
			<div id="ov_text_15_soledad" class="ov_text_15">
				Salida:
			</div>
			<div id="ov_text_14_soledad" class="ov_text_14">
				19 45h<br>
				Iglesia de San Pedro Apóstol<br>
				Plaza Santa Teresa
			</div>				
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>

<div id="ov_zone_14_soledad" class="ov_zone_14">
	<div id="ov_box_17_soledad" class="ov_box_17">
		
		<div id="ov_text_16_soledad" class="ov_text_16">
			 También la mujer ha querido tomar parte con carácter individual asociándose al dolor de la Virgen en los momentos de su soledad.
			 <br>
			 Organizada por las Damas de la Soledad, desde 1957 recorre las calles de la ciudad en la tarde del Sábado Santo formada exclusivamente por mujeres ataviadas de luto y con mantilla española
		</div>
		
		<div id="ov_text_16_soledad_2" class="ov_text_16">
			<span class="ov_span_02">Organiza.</span><br><br>
			<div id="ov_text_17_soledad_1" class="ov_text_17">
				Cofradía Damas de la Soledad
			</div>
			<script>
				$("#ov_text_17_soledad_1").click(function(e){
					referrer_from_proce="./views/procesiones/ov_view_soledad_01.html";
					$('#ov_view_container_02').load("./views/hermandades/ov_view_h_soledad_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>
		
		<div id="ov_text_16_soledad_3" class="ov_text_16">
			<span class="ov_span_02">Hábito.</span><br><br>
			Traje negro con mantilla española y cruz de madera con cordón blanco.
			<br><br>
			<img src="styles/images/habitos/soledad.png" class="ov_image_11"/>			
		</div>
		
		<div id="ov_text_16_soledad_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_soledad_1" class="ov_text_18">
				<span class="ov_span_03">Ntra. Señora de la Soledad</span>
				<div id="ov_text_19_soledad_1" class="ov_text_19">					
				    Autor: Eduardo Capa Sacristán<br>
				    Fecha: 1958<br>
				    La imagen de la Soledad de María se encargó al prestigioso escultor D. Eduardo Capa Sacristan, conocido en Ávila, donde realizó sus primeros estudios como alumno de la Escuela de Artes yOficios Artísticos, el cual entregó la imagen el día 30 de Marzo de 1958, siendo bendicida al día siguiente, Martes Santo, por el Obispo de la Diócesis.La imagen es una talla de 1.80 m. de alta, policromada; para la túnica se ha empleado el rosa pálido, mientras que su manto es verde oliva con matices grises; representa a la Virgen, de pie, en actitud llorosa, apoyada su espalda sobre la cruz, que ya no sostiene el cuerpo de su Hijo; su mirada en éxtasis amoroso, caído su brazo derecho, al tiempo que el izquierdo apoya la mano en su pecho, oprimido por el ahogo de su hondo pesar e imprime a su rostro toda la amargura que, no obstante, intenta mantener en silencio, concentrándolo en su corazón
					<br><br>
					<img src="styles/images/pasos/soledad_soledad.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_soledad_2" class="ov_text_18">
				<span class="ov_span_03">Santa Cruz</span>
				<div id="ov_text_19_soledad_2" class="ov_text_19">					
				    Autor: Mª Paz Prieto García y Mª Paz Muñoz Prieto <br>
				    Fecha: 1989 (decorada en 1999)<br>
				    En el año 1993 la Asociación de Damas asoció a su Procesión del Sábado Santo un nuevo Paso, con una Cruz desnuda, cubierta solamente con el sudario que simboliza la ausencia del cuerpo de Cristo, cuya soledad llora la Madre, que sigue tras ella en un desfile lleno de emotividad, de recogimiento y de devoción
					<br><br>
					<img src="styles/images/pasos/cruz_soledad.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>																					
		</div>
		
		<div id="ov_text_16_soledad_6" class="ov_text_16">
			<span class="ov_span_02">Música.</span><br><br>
			Banda de Cornetas y Tambores de la Oración en el Huerto de Medina del Campo.<br>
			Banda de Cornetas y Tambores de la Cofradía Penitencial de Jesús Atado a la Columna de Medina del Campo.
		</div>
		
		<div id="ov_text_16_soledad_5" class="ov_text_16">
			<span class="ov_span_02">Ruta.</span>
						
			<br><br>
			Con salida y llegada en el mismo lugar, <span class="ov_span_03">Plaza de Santa Teresa</span>, la ruta se recorre en sentido horario
			<br><br>
			
			<iframe id="ov_mapa_ruta_soledad_1" style="width:100%;height:300px;border:none"  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, Ávila&destination=Plaza Santa Teresa, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, Ávila|Avenida de Portugal, Ávila|Calle Dos de Mayo, Ávila|Calle Isaac Peral, Ávila|Calle Duque de Alba, Ávila|Calle Comandante Albarrán, Ávila&language=es&zoom=15&center=40.657983,-4.694427">Para acceder al mapa necesitas una conexión activa</iframe>
									
			<br>
			<script>
				current_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, Ávila&destination=Plaza Santa Teresa, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, Ávila|Avenida de Portugal, Ávila|Calle Dos de Mayo, Ávila|Calle Isaac Peral, Ávila|Calle Duque de Alba, Ávila|Calle Comandante Albarrán, Ávila&language=es&zoom=15&center=40.657983,-4.694427";
				draw_map(current_url,'ov_mapa_ruta_soledad_1');
			</script>
			<div class="ov_button_01" id="ov_button_01_soledad_view_map" onclick="draw_map(current_url,'ov_mapa_ruta_soledad_1')">
				Actualizar Mapa
			</div>
			<br>
			
			<span class="ov_span_03">Itinerario:</span>
			<br>
			<i>Pulsa sobre cualquier punto abajo para obtener una ruta desde tu ubicación actual</i>
			
			<div id="ov_geo_route_2" style="display:none">
				<br><br>

				<iframe id="ov_mapa_ruta_soledad_2" style="width:100%;height:300px;border:none"  src="">Espera, por favor...</iframe>
			
				<div id="ov_geo_route_2_text" style="text-align:center;padding-top:10px;padding-bottom:10px">
					
				</div>				
				<div class="ov_button_01" id="ov_button_01_soledad_refresh_map" onclick="show_route_2(destination,'15',destination_center,destination_container,destination_big_container);">
				Actualizar posición
				</div>
				<br>
				<div class="ov_button_01" id="ov_button_01_soledad_hide_map" onclick="$('#ov_geo_route_2').hide()">
				Ocultar
				</div>					
			</div>
			
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_1">Plaza Santa Teresa</span>
			<script>
				$("#ov_place_soledad_1").click(function(e){
					show_route_2("Plaza Santa Teresa, 11, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_2">Calle San Segundo</span>
			<script>
				$("#ov_place_soledad_2").click(function(e){
					show_route_2("Calle San Segundo, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_3">Plaza San Vicente</span>
			<script>
				$("#ov_place_soledad_3").click(function(e){
					show_route_2("Plaza San Vicente, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_4">Avenida Portugal</span>
			<script>
				$("#ov_place_soledad_4").click(function(e){
					show_route_2("Avenida de Portugal, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_5">Calle Dos de Mayo</span>
			<script>
				$("#ov_place_soledad_5").click(function(e){
					show_route_2("Calle Dos de Mayo, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>			
			<span class="ov_span_04" id="ov_place_soledad_6">Calle Arévalo</span>
			<script>
				$("#ov_place_soledad_6").click(function(e){
					show_route_2("Calle Arévalo, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>	
			<span class="ov_span_04" id="ov_place_soledad_7">Calle Isaac Peral</span>
			<script>
				$("#ov_place_soledad_7").click(function(e){
					show_route_2("Calle Isaac Peral, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_8">Calle Duque de Alba</span>
			<script>
				$("#ov_place_soledad_8").click(function(e){
					show_route_2("Calle Duque de Alba, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_9">Calle Comandante Albarrán</span>
			<script>
				$("#ov_place_soledad_9").click(function(e){
					show_route_2("Calle Comandante Albarrán, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_soledad_10">Plaza Santa Teresa</span>
			<script>
				$("#ov_place_soledad_10").click(function(e){
					show_route_2("Plaza Santa Teresa, 11, Ávila","","","ov_mapa_ruta_soledad_2","ov_geo_route_2");
				});
			</script>
			<br><br>											
		</div>
	</div>
</div>	

