<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				PROCESIÓN DE LA SOLEDAD
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				19 de Abril - Sábado Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>19 45h</b> desde la Iglesia de San Pedro Apóstol, en Plaza Santa Teresa, 11
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			También la mujer ha querido tomar parte con carácter individual asociándose al dolor de la Virgen en los momentos de su soledad.
			<br>
			Organizada por las Damas de la Soledad, desde 1957 recorre las calles de la ciudad en la tarde del Sábado Santo formada exclusivamente por mujeres ataviadas de luto y con mantilla española.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Cofradía Damas de la Soledad
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_soledad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Traje negro con mantilla española y cruz de madera con cordón blanco.
			<img src="./resources/habitos/soledad.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Ntra. Señora de la Soledad
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Eduardo Capa Sacristán
			<br>
			Fecha: 1958
			<br><br>
			La imagen de la Soledad de María se encargó al prestigioso escultor D. Eduardo Capa Sacristan, conocido en Ávila, donde realizó sus primeros estudios como alumno de la Escuela de Artes yOficios Artísticos, el cual entregó la imagen el día 30 de Marzo de 1958, siendo bendicida al día siguiente, Martes Santo, por el Obispo de la Diócesis.La imagen es una talla de 1.80 m. de alta, policromada; para la túnica se ha empleado el rosa pálido, mientras que su manto es verde oliva con matices grises; representa a la Virgen, de pie, en actitud llorosa, apoyada su espalda sobre la cruz, que ya no sostiene el cuerpo de su Hijo; su mirada en éxtasis amoroso, caído su brazo derecho, al tiempo que el izquierdo apoya la mano en su pecho, oprimido por el ahogo de su hondo pesar e imprime a su rostro toda la amargura que, no obstante, intenta mantener en silencio, concentrándolo en su corazón
			<br><br>		
			<img src="./resources/pasos/soledad_soledad.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santa Cruz
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Mª Paz Prieto García y Mª Paz Muñoz Prieto
			<br>
			Fecha: 1989 (decorada en 1999)
			<br><br>
			En el año 1993 la Asociación de Damas asoció a su Procesión del Sábado Santo un nuevo Paso, con una Cruz desnuda, cubierta solamente con el sudario que simboliza la ausencia del cuerpo de Cristo, cuya soledad llora la Madre, que sigue tras ella en un desfile lleno de emotividad, de recogimiento y de devoción
			<br><br>			
			<img src="./resources/pasos/cruz_soledad.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
								
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Banda de Cornetas y Tambores de la Oración en el Huerto de Medina del Campo.
			<br><br>
			Banda de Cornetas y Tambores de la Cofradía Penitencial de Jesús Atado a la Columna de Medina del Campo.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en la Iglesia de San Pedro Apóstol, en Plaza de Santa Teresa, 11. La ruta se recorre en sentido horario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" seamless="seamless" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, Ávila&destination=Plaza Santa Teresa, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, Ávila|Avenida de Portugal, Ávila|Calle Dos de Mayo, Ávila|Calle Isaac Peral, Ávila|Calle Duque de Alba, Ávila|Calle Comandante Albarrán, Ávila&language=es&zoom=15&center=40.657983,-4.694427";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" seamless="seamless" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Santa Teresa
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza Santa Teresa, 11, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle San Segundo, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Avenida de Portugal
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Avenida Portugal, Ávila");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Dos de Mayo
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Dos de Mayo, Ávila");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Isaac Peral
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Isaac Peral, Ávila");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Duque de Alba
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Duque de Alba, Ávila");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Comandante Albarrán
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Comandante Albarrán, Ávila");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Santa Teresa
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza Santa Teresa, 11, Ávila");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	