<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				PROCESIÓN DE LOS ESTUDIANTES
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Sábado víspera de Ramos
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>17:00h</b> desde La Iglesia de San Pedro Apóstol, en Plaza de Santa Teresa, 11
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Organizada por la Hermandad Universitaria del Stmo. Cristo de los Estudiantes, se incorpora esta procesión 
			en la Semana Santa del 2012, teniendo un caracter eminentemente estudiantil.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Hermandad Universitaria del Stmo. Cristo de los Estudiantes y María Santísima Sede de la Sabiduría
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_estudiantes_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Túnica y capirote de color morado; capa de color negra. Cíngulo dorado, calzado oscuro, manos cubiertas con guantes negros.
			<img src="./resources/habitos/estudiantes.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Cristo de los Estudiantes
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Anónimo
			<br>
			Fecha: s.XVII
			<br><br>
			La imagen está tallada en madera y policromada con suma delicadeza.
			Se advierten los latigazos repartidos por el cuerpo y pequeños detalles como el vello del pecho y el realismo de la sangre, realizada con lacas brillantes que son un tipo de pigmentos muy delicados pero que han tenido una buena conservación en esta pieza.
			<br>
			El paño de pureza del Cristo es una tela encolada y enyesada con delicadas incrustaciones doradas, algo que hace que la pieza tenga un carácter excepcional.
			También la Cruz presenta un curioso detalle ya que se trata de una cruz de madera que se ha policromado de manera que la pintura imita los nudos y vetas de la madera.
			<br>
			Los regueros de sangre en el rostro y las marcas de latigazos en el  cuerpo añaden realismo y dramatismo a la imagen que cuelga de una cruz de madera que se ha policromado imitando los nudos y vetas de la madera.
			<br><br>	
			<img src="./resources/pasos/cristo_estudiantes_1.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>	
			<br>			
			<img src="./resources/pasos/cristo_estudiantes_2.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			María Santísima Sede de la Sabiduría
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Anónimo
			<br>
			Fecha: s.XVII<br>
			Su manto y saya están bordados en oro que realza sobre el terciopelo negro, labor realizada por el bordador profesional abulense Pedro Fernández Cano.
			<br><br>
			<img src="./resources/pasos/virgen_estudiantes_1.jpg" style="display:block;margin:auto;width:80%;max-width:300px">		
			<br>
			<img src="./resources/pasos/virgen_estudiantes_2.jpg" style="display:block;margin:auto;width:80%;max-width:300px">		
		</div>
				
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Banda de CC y TT de la Oración en el Huerto, de Medina del Campo (Valladolid).
			<br><br>
			Banda juvenil de CC y TT del Santísimo Cristo amarrado a la columna “El Amarrado”, de Ávila.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en La Iglesia de San Pedro Apóstol, en Plaza de Santa Teresa, 11; la ruta se recorre en sentido horario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, 11, Ávila&destination=Plaza Santa Teresa, 11, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, Ávila|Plaza Catedral, Ávila|Calle Alemania, Ávila|Calle Reyes Catolicos, Ávila|Plaza Mercado Chico, Ávila|Plaza Zurraquín, Ávila|Calle Tomás Luis de Victoria, Ávila|Plaza Catedral, Ávila|Calle San Segundo, Ávila&language=es&zoom=15&center=40.656567,-4.698075";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Santa Teresa
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza Santa Teresa, 11, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle San Segundo, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de La Catedral
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza Catedral, Ávila");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Alemania
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Alemania, Ávila");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Reyes Catolicos
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Reyes Catolicos, Ávila");
			});
		</script>
		
			
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mercado Chico
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Plaza Mercado Chico, Ávila");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Zurraquín
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza Zurraquín, Ávila");
			});
		</script>
		
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Tomás Luis de Victoria
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Tomás Luis de Victoria, Ávila");
			});
		</script>
		
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Catedral
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza Catedral, Ávila");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle San Segundo, Ávila");
			});
		</script>
		
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Santa Teresa
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza Santa Teresa, 11, Ávila");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
