<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				VÍA CRUCIS
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Viernes Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>05:30h</b> desde S.A.I Catedral, en Plaza Catedral
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Organizado por el Iltre. Patronato de la Santa Vera Cruz tuvo su origen en 1935. La gran acogida que tuvo, impulsó a convertirlo en un acto tradicional y su recorrido es el recinto amurallado.
			<br>
			Es impresionante este desfile , al que el pueblo acude en masa para acompañar a su Cristo de los Ajusticiados. Durante el recorrido alrededor de Las Murallas se representan las 14 estaciones del Vía Crucis, señaladas con
			una gran cruz enclavada en el monumento.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Iltre. Patronato de la Santa Vera Cruz
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_veracruz_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Túnica y caperuza morada, con capa de terciopelo granate, y cíngulo amarillo
			<img src="./resources/habitos/pasos_1.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo de los Ajusticiados
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Anónimo
			<br>
			Fecha: s. XVI
			<br><br>
			Recibió el nombre del Santísimo Cristo de la Buena Muerte por la función de acompañar a los reos antes de la ejecución de la pena capital.
			<br><br>
			<img src="./resources/pasos/veracruz_ajusticiados.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ESTACIONES.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS SENTENCIADO A MUERTE
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Iniciamos las estaciones del Via Crucis. Cuando el alma llega a no prestar atención a los halagos, todavía presta menos atención a las críticas. La crítica fortalece al alma, la cual va adquiriendo un amor particular y tierno cada vez mayor hacia sus perseguidores.			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS CARGADO CON LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Jesús prodiga sus cruces como el signo más seguro de su ternura, porque desea hacerte semejante a Él. ¿Por qué tener miedo a no ser capaz de llevar la cruz sin desfallecer?
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS CAE, POR PRIMERA VEZ, BAJO EL PESO DE LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			La “scientia crucis” no se puede adquirir sino tras haber llegado a sentir radicalmente la cruz. La totalidad de los errores humanos puede ser eliminada por la expiación de la cruz
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			ENCUENTRO CON LA VIRGEN
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			El Evangelio no pone palabra alguna en boca de tu Madre que está al pie de la cruz. Tampoco tú, Jesús mío, pronuncias ni una sola palabra. Tu silencio es la palabra más elocuente
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			EL CIRINEO AYUDA AL SEÑOR A LLEVAR LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 Cada uno tiene la cruz que ha de llevar, aunque cada cruz sea distinta de las otras. Si alguno desea conquistar la libertad de espíritu y no sentirse continuamente atribulado, debe empezar por no espantarse de la cruz. Entonces verá cómo el Señor lo ayuda a llevarla
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			LA VERÓNICA ENJUGA EL ROSTRO DE JESÚS
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			A lo largo del camino de la cruz no está Jesús solo. Hoy como entonces están también no solo los adversarios, sino las personas que lo ayudan. Representando a cuantos lo aman y desean ayudarlo está la Verónica
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			SEGUNDA CAÍDA EN EL CAMINO DE LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Cuando caminas en la noche oscura y en el vacío de la pobreza espiritual, piensas que te falta todo y todos -incluso Dios-. Sin embargo no te falta nada
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS CONSUELA A LAS HIJAS DE JERUSALÉN
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 Oh Jesús, deja que yo llore por mí mismo, pues no soy sino un árbol seco, que sólo sirve para ser echado al fuego. Pero tú das nueva vida al árbol seco injertándolo en el árbol de la cruz
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS CAE POR TERCERA VEZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			  Aunque caigas cien veces, levántate cada vez con mayor presteza, demostrando así tu amor por Él
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS DESPOJADO DE SUS VESTIDURAS
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			  El alma despojada de sí misma y revestida de Jesucristo no ha de temer nada del mundo exterior. Por eso, yo renuncio cada día a mí misma, a fin de que Cristo pueda crecer en mí
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS CLAVADO EN LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 Decidí permanecer en espíritu a los pies de la cruz para recibir allí el rocío divino, la sangre que caía a tierra, sin que nadie se apresurase a recogerla. Entonces comprendí que debía abocarla sobre las almas
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS MUERE EN LA CRUZ
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 La muerte no puede resultar amarga para el alma que ama, ya que en ella encuentra toda la dulzura y el deleite del amor. El alma goza de la muerte como si estuviese pensando en su noviazgo o en su matrimonio, por eso anhela el día y la hora de su muerte
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			JESÚS EN BRAZOS DE SU MADRE
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 Siguiendo tus caminos no podrás llegar a donde deseas, ni siquiera a través de la más alta contemplación, sino sólo a través de una humildad grande y de una total disponibilidad del corazón
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			EL CADÁVER DE JESÚS PUESTO EN EL SEPULCRO
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			 El alma ha de vaciarse de todo lo que no es Dios, a fin de poder ir hacia Dios… Por amor de Cristo debe desear entrar en una completa desnudez y pobreza respecto a todo
		</div>
		
								
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			El silencio.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Las diferentes estaciones del Vía Crucis están señalizadas con cruces de madera ubicadas a lo largo del recorrido. Los participantes son las miles de personas que acompañan la imagen del Cristo en su recorrido extramuros.
		</div>
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en S.A.I Catedral, en Plaza de La Catedral, la ruta se realiza alrededor de las Murallas en sentido anti-horario, durante el recorrido se celebran las 14 estaciones.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Catedral, 3, Ávila&destination=Plaza Catedral, 3, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, 36, Ávila|40.657584,-4.696786|40.658422,-4.699243|40.658658,-4.702987|40.65957,-4.705573|40.657494,-4.707386|40.655655,-4.707345|40.654988,-4.704405|40.654914,-4.703019|40.654459,-4.701024|40.654239,-4.699693|40.653929,-4.697505|40.654475,-4.697011|40.654963,-4.697022&language=es&zoom=14&center=40.661792,-4.700053";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Catedral (1 Estación)
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza Catedral, 3, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo (2 Estación)
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Plaza San Segundo, 36, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza San Vicente (3 Estación)
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("40.657584,-4.696786");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Fuente el Sol (4 Estación)
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("40.658422,-4.699243");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Concepción Arenal (5 Estación)
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("40.658658,-4.702987");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Final Calle Conde Don Ramón (6 Estación)
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("40.657494,-4.707386");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Carretera Burgohondo (7 Estación)
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("40.655655,-4.707345");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo del Rastro (8 Estación)
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("40.654988,-4.704405");
			});
		</script>
				
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza La Santa (9 Estación)
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("40.654914,-4.703019");
			});
		</script>
		
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo del Rastro (10 Estación)
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("40.654459,-4.701024");
			});
		</script>
		
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo del Rastro (11 Estación)
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("40.654239,-4.699693");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo del Rastro (12 Estación)
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("40.653929,-4.697505");
			});
		</script>
		
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo del Rastro (13 Estación)
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("40.654475,-4.697011");
			});
		</script>
		
		<div id="ov_place_15" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo (14 Estación)
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("40.654963,-4.697022");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
