<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>
<!-- Publi -->
<div id="ov_zone_08_4" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_4");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_batallas" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_batallas").click(function(e){
			if(referrer_from_herman=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_proce_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_herman,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_herman="";				
				});
			}
				
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->

<div id="ov_zone_13_batallas" class="ov_zone_13_b">
		
	<div id="ov_box_13_batallas" class="ov_box_13_b">
		<div id="ov_box_14_batallas" class="ov_box_14">
			<div id="ov_text_12_batallas" class="ov_text_12_b">
				PROCESIÓN DEL CRISTO DE LAS BATALLAS
			</div>
			<div id="ov_text_13_batallas" class="ov_text_13">
				día 16<br>
				Miércoles Santo<br><br> 
			</div>
		</div>
		<div id="ov_box_15_batallas" class="ov_box_15">
			<div id="ov_text_15_batallas" class="ov_text_15">
				Salida:
			</div>
			<div id="ov_text_14_batallas" class="ov_text_14">
				23 00h<br>
				Iglesia de San Pedro Apóstol<br>
				Plaza Santa Teresa
			</div>				
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>

<div id="ov_zone_14_batallas" class="ov_zone_14">
	<div id="ov_box_17_batallas" class="ov_box_17">
		
		<div id="ov_text_16_batallas" class="ov_text_16">
			 La procesión del Cristo de las Batallas, organizada por la Hermandad del mismo nombre, congrega a  más de 300 hermanos con túnica y capuchón negro, y cíngulo de esparto.
			 <br>
			 Iluminan con sus hachones el camino de su Sagrado Titular, una talla de más de 2 metros de altura que representa a Cristo con la Cruz a cuestas camino del Gólgota.
			 <br>
			 Tres cofrades portan pesadas cruces y el silencio sólo lo rompen los tambores destemplados, los toques de corneta y las esquilas que llaman a la contemplación del sufrimiento del Salvador.
		</div>
		
		<div id="ov_text_16_batallas_2" class="ov_text_16">
			<span class="ov_span_02">Organiza.</span><br><br>
			<div id="ov_text_17_batallas_1" class="ov_text_17">
				Hermandad del Santísimo Cristo de las Batallas
			</div>
			<script>
				$("#ov_text_17_batallas_1").click(function(e){
					referrer_from_proce="./views/procesiones/ov_view_batallas_01.html";
					$('#ov_view_container_02').load("./views/hermandades/ov_view_h_batallas_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>
		
		<div id="ov_text_16_batallas_3" class="ov_text_16">
			<span class="ov_span_02">Hábito.</span><br><br>
			Túnica negra con la Cruz de la Cofradía al pecho. Capirote negro. Cíngulo de esparto. Zapato y calcetín negro.
			<br><br>
			<img src="styles/images/habitos/batallas.png" class="ov_image_11"/>
		</div>
		
		<div id="ov_text_16_batallas_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_batallas_1" class="ov_text_18">
				<span class="ov_span_03">Santísimo Cristo de las Batallas (nueva)</span>
				<div id="ov_text_19_batallas_1" class="ov_text_19">					
				    Autor: D. Plácido Martín San Pedro<br>
				    Fecha:   1963<br>
				    Realizada en 1963 es una imagen esbelta de 2,15 m. de altura, que nos Santísimo Cristo de las Batallasmuestra la presencia de un hombre vigoroso, caminando encorvado por el peso de la cruz, a la vez que decidido y firme a cumplir la voluntad del Padre y completar la obra	 que le ha traído a la tierra.
					<br><br>
					<img src="styles/images/pasos/batallas_nuevo.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>															
		</div>
		
		<div id="ov_text_16_batallas_6" class="ov_text_16">
			<span class="ov_span_02">Música.</span><br><br>
			Toques de Silencio.
		</div>
		
		<div id="ov_text_16_batallas_5" class="ov_text_16">
			<span class="ov_span_02">Ruta.</span>
			
			<br><br>
			Con salida y llegada en el mismo lugar, la <span class="ov_span_03">Plaza de Santa Teresa</span>, la ruta se realiza en sentido horario.
			<br><br>
			
			<iframe id="ov_mapa_ruta_batallas_1" style="width:100%;height:300px;border:none"  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, 11, Ávila&destination=Plaza Santa Teresa, 11, Ávila&avoid=tolls|highways&mode=walking&waypoints=40.654271,-4.700455|Calle Caballeros, Ávila|Plaza Mercado Chico, Ávila|Plaza Zurraquín, Ávila|Calle Esteban Domingo, Ávila|Calle López Núñez, Ávila|Plaza San Vicente, Ávila|Calle San Segundo, Ávila&language=es&zoom=15&center=40.65734,-4.699178">Para acceder al mapa necesitas una conexión activa</iframe>
			
			<br>
			<script>
				current_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Santa Teresa, 11, Ávila&destination=Plaza Santa Teresa, 11, Ávila&avoid=tolls|highways&mode=walking&waypoints=40.654271,-4.700455|Calle Caballeros, Ávila|Plaza Mercado Chico, Ávila|Plaza Zurraquín, Ávila|Calle Esteban Domingo, Ávila|Calle López Núñez, Ávila|Plaza San Vicente, Ávila|Calle San Segundo, Ávila&language=es&zoom=15&center=40.65734,-4.699178";
				draw_map(current_url,'ov_mapa_ruta_batallas_1');
			</script>
			<div class="ov_button_01" id="ov_button_01_batallas_1_view_map" onclick="draw_map(current_url,'ov_mapa_ruta_batallas_1')">
				Actualizar Mapa
			</div>
			<br>		
			
			<span class="ov_span_03">Itinerario:</span>
			<br>
			<i>Pulsa sobre cualquier punto abajo para obtener una ruta desde tu ubicación actual</i>
			
			<div id="ov_geo_route_2" style="display:none">
				<br><br>
				
				<iframe id="ov_mapa_ruta_batallas_2" style="width:100%;height:300px;border:none"  src="">Espera, por favor...</iframe>
			
				<div id="ov_geo_route_2_text" style="text-align:center;padding-top:10px;padding-bottom:10px">
					
				</div>				
				<div class="ov_button_01" id="ov_button_01_batallas_refresh_map" onclick="show_route_2(destination,'15',destination_center,destination_container,destination_big_container);">
				Actualizar posición
				</div>
				<br>
				<div class="ov_button_01" id="ov_button_01_batallas_hide_map" onclick="$('#ov_geo_route_2').hide()">
				Ocultar
				</div>					
			</div>
			
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_1">Plaza Santa Teresa</span>
			<script>
				$("#ov_place_batallas_1").click(function(e){
					show_route_2("Plaza Santa Teresa, 11, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_2">Paseo del Rastro</span>
			<script>
				$("#ov_place_batallas_2").click(function(e){
					show_route_2("40.654271,-4.700455","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>			
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_4">Calle Caballeros</span>
			<script>
				$("#ov_place_batallas_4").click(function(e){
					show_route_2("Calle Caballeros, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_5">Plaza del Mercado Chico</span>
			<script>
				$("#ov_place_batallas_5").click(function(e){
					show_route_2("Plaza Mercado Chico, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_6">Plaza Zurraquín</span>
			<script>
				$("#ov_place_batallas_6").click(function(e){
					show_route_2("Plaza Zurraquín, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_7">Calle Esteban Domingo</span>
			<script>
				$("#ov_place_batallas_7").click(function(e){
					show_route_2("Calle Esteban Domingo, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_8">Calle López Nuñez</span>
			<script>
				$("#ov_place_batallas_8").click(function(e){
					show_route_2("Calle López Núñez, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_9">Plaza San Vicente</span>
			<script>
				$("#ov_place_batallas_9").click(function(e){
					show_route_2("Plaza San Vicente, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_10">Calle San Segundo</span>
			<script>
				$("#ov_place_batallas_10").click(function(e){
					show_route_2("Calle San Segundo, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_batallas_11">Plaza Santa Teresa</span>
			<script>
				$("#ov_place_batallas_11").click(function(e){
					show_route_2("Plaza Santa Teresa, 11, Ávila","","","ov_mapa_ruta_batallas_2","ov_geo_route_2");
				});
			</script>
			<br><br>									
		</div>
	</div>
</div>	

