<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_las_palmas" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_las_palmas").click(function(e){
			if(referrer_from_herman=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_proce_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_herman,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_herman="";				
				});
			}
				
		});
	</script>
</div>

<div class="ov_vertical_space_04">&nbsp;</div>
<div class="ov_vertical_space_04">&nbsp;</div>

<div id="ov_zone_13_las_palmas" class="ov_zone_13_b">
		
	<div id="ov_box_13_las_palmas" class="ov_box_13_b">
		<div id="ov_box_14_las_palmas" class="ov_box_14">
			<div id="ov_text_12_las_palmas" class="ov_text_12_b">
				PROCESIÓN DE "LAS PALMAS"
			</div>
			<div id="ov_text_13_las_palmas" class="ov_text_13">
				día 13<br>
				Domingo de Ramos<br><br> 
			</div>
		</div>
		<div id="ov_box_15_las_palmas" class="ov_box_15">
			<div id="ov_text_15_las_palmas" class="ov_text_15">
				Salida:
			</div>
			<div id="ov_text_14_las_palmas" class="ov_text_14">
				Salida al finalizar la Misa Mayor de las 11 00h<br>
				S.A.I Catedral<br>
				Plaza de la Catedral
			</div>				
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>

<div id="ov_zone_14_las_palmas" class="ov_zone_14">
	<div id="ov_box_17_las_palmas" class="ov_box_17">
		
		<div id="ov_text_16_las_palmas" class="ov_text_16">
			La Procesión de la Borriquilla se inicia en 1944, fecha en la que la Juventud Católico Antoniana del Convento de San Antonio adquirió en la Casa Alsina de Madrid el paso con la figura de Cristo montado en la borriquilla en aptitud de bendecir.
			<br>
			Posteriormente los Padres Franciscanos asociaron a la procesión a los niños de los colegios y escuelas de la ciudad que desde entonces salen de la S.A.I. Catedral y desfilan jubilosos hasta la iglesia del convento de los P.P. Franciscanos.
			<br>
			Este paso a diferencia de otros no tiene Cofradía propia.
		</div>
		
		<div id="ov_text_16_las_palmas_2" class="ov_text_16">
			<span class="ov_span_02">Organiza.</span>
			<br><br>
			<div id="ov_text_17_las_palmas_1" class="ov_text_17">
				Padres Franciscanos, Real e Il. Esclavitud de Ntro. Padre Jesús Nazareno "Medinaceli" y Juventud Antoniana
			</div>
			<script>
				$("#ov_text_17_las_palmas_1").click(function(e){
					referrer_from_proce="./views/procesiones/ov_view_las_palmas_01.html";
					$('#ov_view_container_02').load("./views/hermandades/ov_view_h_franciscanos_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>
		
		<div id="ov_text_16_las_palmas_3" class="ov_text_16">
			<span class="ov_span_02">Hábito.</span><br><br>
			Túnica de color morado; cíngulo, capa y esclavina en color blanco (Archicofradía de Jesús de Medinaceli).<br>
			Túnica en color marrón franciscano, cíngulo blanco y capa en blanco con la Cruz de Jerusalén (Juventud Antoniana).
			<br><br>
			<img src="styles/images/habitos/las_palmas.png" class="ov_image_11"/>
			<img src="styles/images/habitos/las_palmas_2.png" class="ov_image_11"/>
		</div>
		
		<div id="ov_text_16_las_palmas_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span>
			<br><br>
			<div id="ov_text_18_las_palmas_1" class="ov_text_18">
				<span class="ov_span_03">Entrada de Jesús en Jerusalén</span>
				<div id="ov_text_19_las_palmas_1" class="ov_text_19">					
				    Autor: Talleres de Arte Cristiano de Olot. Adquirido en la Casa Alsina de Madrid<br>
				    Fecha: 1944<br>
				    Paso de misterio de 5 figuras
				    <br><br>
					<img src="styles/images/pasos/jesus_franciscanos.jpg" class="ov_image_12"/>
					<br>					
				</div>
			</div>
			<div id="ov_text_18_las_palmas_2" class="ov_text_18">
				<span class="ov_span_03">Nuestra Señora de los Infantes</span>
				<div id="ov_text_19_las_palmas_2" class="ov_text_19">					
				    Autor: Anónimo<br>
				    Fecha: Finales s. XIX
				    <br><br>
					<img src="styles/images/pasos/infante_franciscanos.jpg" class="ov_image_12"/>
					<br>				    				
				</div>
			</div>					
		</div>
		
		<div id="ov_text_16_las_palmas_6" class="ov_text_16">
			<span class="ov_span_02">Música.</span>
			<br><br>
			Banda de Cornetas y Tambores de la Oración en el Huerto de Medina del Campo.
		</div>
		
		<div id="ov_text_16_las_palmas_5" class="ov_text_16">
			<span class="ov_span_02">Ruta.</span>
			
			<br><br>
			Con salida desde <span class="ov_span_03">Plazaa Catedral</span> y llegada en <span class="ov_span_03">Plaza San Antonio</span>.
			<br><br>
			
			<div id="ov_mapa_ruta_las_palmas_1" onload="" class="ov_mapa_ruta_01">
				<div class="ov_text_18">Para acceder al mapa necesitas una conexión activa</div>
			</div>
						
			<br>
			<script>
				current_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Catedral, Ávila&destination=Plaza San Antonio, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle San Segundo, Ávila|Plaza Santa Teresa, Ávila|Calle Comandante Albarrán, Ávila|Calle Duque de Alba, Ávila|Calle Isaac Peral, Ávila|Plaza Santa Ana, Ávila|Paseo de la Estacion, Ávila|Calle Ferrocarril, Ávila|Calle La Sierpe, Ávila&language=es&zoom=14&center=40.660164,-4.692457";
				draw_map(current_url,'ov_mapa_ruta_las_palmas_1');
			</script>
			<div class="ov_button_01" id="ov_button_01_las_palmas_view_map" onclick="draw_map(current_url,'ov_mapa_ruta_las_palmas_1')">
				Actualizar Mapa
			</div>
			<br>
			
			<span class="ov_span_03">Itinerario:</span>
			<br>
			<i>Pulsa sobre cualquier punto abajo para obtener una ruta desde tu ubicación actual</i>
			
			<div id="ov_geo_route_2" style="display:none">
				<br><br>
				<div id="ov_mapa_ruta_las_palmas_2" class="ov_mapa_ruta_01" style="background-color:#DDD">
					<div class="ov_text_18">Espera, por favor...</div>
				</div>
				<div id="ov_geo_route_2_text" style="text-align:center;padding-top:10px;padding-bottom:10px">
					
				</div>				
				<div class="ov_button_01" id="ov_button_01_las_palmas_refresh_map" onclick="show_route_2(destination,'15',destination_center,destination_container,destination_big_container);">
				Actualizar posición
				</div>
				<br>
				<div class="ov_button_01" id="ov_button_01_las_palmas_hide_map" onclick="$('#ov_geo_route_2').hide()">
				Ocultar
				</div>					
			</div>
			
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_1">Plaza de La Catedral</span>
			<script>
				$("#ov_place_las_palmas_1").click(function(e){
					show_route_2("Plaza Catedral, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_2">Calle San Segundo</span>
			<script>
				$("#ov_place_las_palmas_2").click(function(e){
					show_route_2("Calle San Segundo, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_3">Plaza Santa Teresa</span>
			<script>
				$("#ov_place_las_palmas_3").click(function(e){
					show_route_2("Plaza Santa Teresa, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>			
			<span class="ov_span_04" id="ov_place_las_palmas_4">Calle Comandante Albarrán</span>
			<script>
				$("#ov_place_las_palmas_4").click(function(e){
					show_route_2("Calle Comandante Albarrán, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>			
			<span class="ov_span_04" id="ov_place_las_palmas_5">Calle Duque de Alba</span>
			<script>
				$("#ov_place_las_palmas_5").click(function(e){
					show_route_2("Calle Duque de Alba, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_6">Calle Isaac Peral</span>
			<script>
				$("#ov_place_las_palmas_6").click(function(e){
					show_route_2("Calle Isaac Peral, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_7">Plaza Santa Ana</span>
			<script>
				$("#ov_place_las_palmas_7").click(function(e){
					show_route_2("Plaza Santa Ana, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_8">Paseo de la Estación</span>
			<script>
				$("#ov_place_las_palmas_8").click(function(e){
					show_route_2("Paseo de la Estacion, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_9">Calle Ferrocarril</span>
			<script>
				$("#ov_place_las_palmas_9").click(function(e){
					show_route_2("Calle Ferrocarril, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_10">Calle La Sierpe</span>
			<script>
				$("#ov_place_las_palmas_10").click(function(e){
					show_route_2("Calle La Sierpe, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_las_palmas_11">Plaza San Antonio</span>
			<script>
				$("#ov_place_las_palmas_11").click(function(e){
					show_route_2("Plaza San Antonio, Ávila","","","ov_mapa_ruta_las_palmas_2","ov_geo_route_2");
				});
			</script>
			<br><br>							
		</div>
	</div>
</div>	

