<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_medinaceli" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_medinaceli").click(function(e){
			if(referrer_from_herman=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_proce_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_herman,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_herman="";				
				});
			}
				
		});
	</script>
</div>

<div class="ov_vertical_space_04">&nbsp;</div>
<div class="ov_vertical_space_04">&nbsp;</div>

<div id="ov_zone_13_medinaceli" class="ov_zone_13_b">
		
	<div id="ov_box_13_medinaceli" class="ov_box_13_b">
		<div id="ov_box_14_medinaceli" class="ov_box_14">
			<div id="ov_text_12_medinaceli" class="ov_text_12_b">
				PROCESIÓN DE MEDINACELI
			</div>
			<div id="ov_text_13_medinaceli" class="ov_text_13">
				día 15<br>
				Martes Santo<br><br> 
			</div>
		</div>
		<div id="ov_box_15_medinaceli" class="ov_box_15">
			<div id="ov_text_15_medinaceli" class="ov_text_15">
				Salida:
			</div>
			<div id="ov_text_14_medinaceli" class="ov_text_14">
				21 00h<br>
				S.A.I Catedral<br>
				Plaza Catedral
			</div>				
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>


<div id="ov_zone_14_medinaceli" class="ov_zone_14">
	<div id="ov_box_17_medinaceli" class="ov_box_17">
		
		<div id="ov_text_16_medinaceli" class="ov_text_16">
			En Martes Santo tiene lugar la Procesión de Ntro. Padre Jesús de Medinaceli, un desfile que cuenta con siete pasos que reproducen las escenas principales de la Pasión de Cristo.
			<br>
			En primer lugar desfila la imagen de las Lágrimas de San Pedro. En ella, el apóstol aparece en actitud de arrepentimiento después de haber negado por tercera vez al Señor. Es de autor anónimo de la Escuela castellana del S. XVI, está policromada con la técnica del estofado y se custodia en la cripta de la Basílica de San Vicente.
			<br>
			En segundo lugar de la comitiva procesiona la imagen de Ntro. Padre Jesús de Medinaceli, fiel reproducción de la talla original de Madrid. Fue realizada en 1947 por Gerardo Morante y adquirida en la Casa Alsina (Madrid).
			<br>
			La devoción que en toda la ciudad existe por el Nazareno, en especial en su barrio de San Antonio, hace que sea la cofradía con más penitentes (unos 1.200) vistiendo la túnica y capirote morados con capa dorada.
			<br>
			Completan el cortejo de la procesión el Nazareno del Perdón (Jesús con la Cruz al hombro, obra de Víctor González Gil), el Calvario -configurado por el Cristo de la Salud, la Virgen, San Juan, María Magdalena y el centurión romano-, la Virgen del Mayor Dolor (una 'piedad' que sostiene el cadáver de Cristo salida de los Talleres de Arte Cristiano de Olot), el Cristo Yacente y María Santísima de las Lágrimas (imagen de candelero).
		</div>
		
		<div id="ov_text_16_medinaceli_2" class="ov_text_16">
			<span class="ov_span_02">Organiza.</span><br><br>
			<div id="ov_text_17_medinaceli_1" class="ov_text_17">
				Archicofradía de la Real e Ilustre Esclavitud de Ntro. Padre Jesús Nazareno "Medinaceli"
			</div>
			<script>
				$("#ov_text_17_medinaceli_1").click(function(e){
					referrer_from_proce="./views/procesiones/ov_view_medinaceli_01.html";
					$('#ov_view_container_02').load("./views/hermandades/ov_view_h_medinaceli_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>
		
		<div id="ov_text_16_medinaceli_3" class="ov_text_16">
			<span class="ov_span_02">Hábito.</span><br><br>
			Túnica morada con cíngulo amarillo, capa amarilla, capucho morado con cruces trinitarias.
			<br><br>
			<img src="styles/images/habitos/medinaceli.png" class="ov_image_11"/>
		</div>
		
		<div id="ov_text_16_medinaceli_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_medinaceli_1" class="ov_text_18">
				<b>Lágrimas de San Pedro</b>
				<div id="ov_text_19_medinaceli_1" class="ov_text_19">					
				    Autor: Escuela Castellana<br>
				    Fecha:  s. XV<br>
				    Se conserva en la Basílica de San Vicente, en uno de los altares de la Cripta.
				    <br><br>
					<img src="styles/images/pasos/medinaceli_san_pedro.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_2" class="ov_text_18">
				<span class="ov_span_03">Jesús de Medinaceli</span>
				<div id="ov_text_19_medinaceli_2" class="ov_text_19">					
				    Autor: D.  Gerardo Morante <br>
				    Fecha: 1947<br>
				    La imagen fue donada a la Archicofradia por D. Florentino Rodriguez Germán, hermano del Padre Victoriano y fue bendecida el jueves día 4 de marzo de 1948, en la iglesia de San Antonio, por el Excmo y Rvdmo. Sr. Obispo de la Diócesis D. Santos Moro Briz.Es una replica de Jesús de Medinaceli de Madrid.				   
					<br><br>
					<img src="styles/images/pasos/medinaceli_jesus.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_3" class="ov_text_18">
				<span class="ov_span_03">Nazareno del Perdón</span>
				<div id="ov_text_19_medinaceli_3" class="ov_text_19">					
				    Autor: D. Victor Gonzalez Gil <br>
				    Fecha: 1992<br>
				    Adquirida en 1992, y posteriormente policromada por el sacerdote abulense D. Juan Manuel Aranda. Actualmente se encuentra en el Museo del Convento de San Antonio. 
					<br><br>
					<img src="styles/images/pasos/medinaceli_nazareno.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_4" class="ov_text_18">
				<span class="ov_span_03">El Calvario</span>
				<div id="ov_text_19_medinaceli_4" class="ov_text_19">					
				    Autor: Casa Alsina de Madrid<br>
				    Fecha: 1946<br>
				    Paso de misterio formado por el Cristo de la Salud, María Santísima, la Magdalena, San Juan y un soldado romano en actitud de trapasar con su lanza el costado del Señor. 
					<br><br>
					<img src="styles/images/pasos/medinaceli_calvario.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_5" class="ov_text_18">
				<span class="ov_span_03">Virgen del Mayor Dolor</span>
				<div id="ov_text_19_medinaceli_5" class="ov_text_19">					
				    Autor: Talleres de Arte Cristiano de Olot (Gerona)<br>
				    Fecha: 1947<br>
				    La Virgen del Mayor Dolor es un grupo escultorico de gran realismo humano; adquirida por la Juventud Catolico Antoniana, llegó a Ávila en el mes de Marzo de 1947. Representa a la Madre, ante quien han bajado de una cruz a su hijo muerto y lo han depositado en el suelo para prepararle el sudario
					<br><br>
					<img src="styles/images/pasos/medinaceli_dolor.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_6" class="ov_text_18">
				<span class="ov_span_03">Cristo Yacente</span>
				<div id="ov_text_19_medinaceli_6" class="ov_text_19">					
				    Autor: D. Ricardo Granada<br>
				    Fecha: 1942<br>
				    El Cristo Yacente es una imagen de 1,70 mts. Es una talla de madera pulida y encerada, que fue adquirida por los P. Franciscanos del Convento de San Antonio. Sustituyó en el desfile procesional a la imagen del Cristo Yacante de Niharra. 
					<br><br>
					<img src="styles/images/pasos/medinaceli_yacente.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_medinaceli_7" class="ov_text_18">
				<span class="ov_span_03">Virgen de las Lágrimas</span>
				<div id="ov_text_19_medinaceli_7" class="ov_text_19">					
				    Autor: Casa Alsina de Madrid<br>
				    Fecha: 1950<br>
				    Respecto a la Virgen de las Lagrimas es donación de una señora anonima y está inspirada en el "Stabar Mater", himno liturgico atribuido al franciscano poeta Fray Copone de Trodi. Es copia de las Virgenes talladas por Salcillo. Hasta el año 1967 iba acompañada de señoras y señoritas de la Venerable Orden Tercera de San Francisco, ataviadas con traje y velos negros
					<br><br>
					<img src="styles/images/pasos/medinaceli_lagrimas.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>									
		</div>
		
		<div id="ov_text_16_medinaceli_6" class="ov_text_16">
			<span class="ov_span_02">Música.</span><br><br>
			Banda de Cornetas y Tambores de la Oración en el Huerto de Medina del Campo.<br>
			Banda de Cornetas y Tambores del Santo Sepulcro de Medina del Campo.<br>
			Banda de Cornetas y Tambores del Stmo. Cristo a la Columna "El Amarrado". 
		</div>
		
		<div id="ov_text_16_medinaceli_5" class="ov_text_16">
			<span class="ov_span_02">Ruta.</span>
			
			<br><br>
			Con salida y llegada en <span class="ov_span_03">Plaza de la Catedral</span>, la ruta se recorre en sentido horario.
			<br><br>
			
			<div id="ov_mapa_ruta_medinaceli_1" class="ov_mapa_ruta_01">
				<div class="ov_text_18">Para acceder al mapa necesitas una conexión activa</div>
			</div>
			
			<br>
			<script>
				current_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza Catedral, Ávila&destination=Plaza Catedral, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle Tomás Luis de Victoria, Ávila|Plaza Mercado Chico, Ávila|Calle Vallespín, 9, Ávila|Calle Ramón y Cajal, Ávila|Plaza Concepción Arenal, Ávila|Carretera Ronda Vieja, Ávila|Plaza San Vicente, Ávila|Calle San Segundo, 40, Ávila&language=es&zoom=15&center=40.658496,-4.698535";
				draw_map(current_url,'ov_mapa_ruta_medinaceli_1');
			</script>
			<div class="ov_button_01" id="ov_button_01_medinaceli_view_map" onclick="draw_map(current_url,'ov_mapa_ruta_medinaceli_1')">
				Actualizar Mapa
			</div>
			<br>
			
			<span class="ov_span_03">Itinerario:</span>
			<br>
			<i>Pulsa sobre cualquier punto abajo para obtener una ruta desde tu ubicación actual</i>
			
			<div id="ov_geo_route_2" style="display:none">
				<br><br>
				<div id="ov_mapa_ruta_medinaceli_2" class="ov_mapa_ruta_01" style="background-color:#DDD">
					<div class="ov_text_18">Espera, por favor...</div>
				</div>
				<div id="ov_geo_route_2_text" style="text-align:center;padding-top:10px;padding-bottom:10px">
					
				</div>				
				<div class="ov_button_01" id="ov_button_01_medinaceli_refresh_map" onclick="show_route_2(destination,'15',destination_center,destination_container,destination_big_container);">
				Actualizar posición
				</div>
				<br>
				<div class="ov_button_01" id="ov_button_01_medinaceli_hide_map" onclick="$('#ov_geo_route_2').hide()">
				Ocultar
				</div>					
			</div>
			
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_1">Plaza de la Catedral</span>
			<script>
				$("#ov_place_medinaceli_1").click(function(e){
					show_route_2("Plaza Catedral, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_2">Calle Tomás Luis de Victoria</span>
			<script>
				$("#ov_place_medinaceli_2").click(function(e){
					show_route_2("Calle Tomás Luis de Victoria, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_3">Plaza Zurraquín</span>
			<script>
				$("#ov_place_medinaceli_3").click(function(e){
					show_route_2("Plaza Zurraquín, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_4">Plaza Mercado Chico</span>
			<script>
				$("#ov_place_medinaceli_4").click(function(e){
					show_route_2("Plaza Mercado Chico, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_5">Calle Vallespín</span>
			<script>
				$("#ov_place_medinaceli_5").click(function(e){
					show_route_2("Calle Vallespín, 9, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_6">Calle Ramón y Cajal</span>
			<script>
				$("#ov_place_medinaceli_6").click(function(e){
					show_route_2("Calle Ramón y Cajal, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_7">Plaza Concepción Arenal</span>
			<script>
				$("#ov_place_medinaceli_7").click(function(e){
					show_route_2("Plaza Concepción Arenal, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_8">Ronda Vieja</span>
			<script>
				$("#ov_place_medinaceli_8").click(function(e){
					show_route_2("Carretera Ronda Vieja, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_9">Plaza San Vicente</span>
			<script>
				$("#ov_place_medinaceli_9").click(function(e){
					show_route_2("Plaza San Vicente, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_10">Calle San Segundo</span>
			<script>
				$("#ov_place_medinaceli_10").click(function(e){
					show_route_2("Calle San Segundo, 40, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>
			<span class="ov_span_04" id="ov_place_medinaceli_11">Plaza de la Catedral</span>
			<script>
				$("#ov_place_medinaceli_11").click(function(e){
					show_route_2("Plaza Catedral, Ávila","","","ov_mapa_ruta_medinaceli_2","ov_geo_route_2");
				});
			</script>
			<br><br>								
		</div>
	</div>
</div>	

