<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				PROCESIÓN DE LA ESPERANZA
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Lunes Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>19:00h</b> en la Iglesia San Ignacio de Loyola en Plaza Teniente Arévalo
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			El Lunes Santo se llevan a cabo dos procesiones que confluyen en uno de los momentos más emotivos de la Semana Santa abulense: <b>El Encuentro</b>.
			<br>
			De la Iglesia Parroquial de San Juan Bautista sale la Hermandad de Ntra. Sra. de la Esperanza, dolorosa bajo palio realizada por el cordobés Manuel Romero en 1954, inspirada en la Esperanza Macarena de Sevilla, que portan 30 braceros.
			<br>
			Ambas imágenes se encontraron en la Plaza de la Catedral por primera vez en 2011, ya que en otras ocasiones dicho Encuentro se realizó en otros lugares como el Mercado Grande, la Plaza del Mercado Chico y Arco del Peso de la Harina.
			<br>
			Las imágenes son mecidas por anderos y braceros al son de las marchas que interpretan las bandas de música. Al finalizar el Encuentro, cada cofradía vuelve a su lugar de origen.
			<br>
			En 2007 la Hermandad de la Esperanza incorporó a su estación de penintencia la imagen de su titular cristífero: Ntro. Padre Jesús de la Salud, talla del escultor local Pedro González Martín que representa el momento del Prendimiento de Cristo en el Huerto de los Olivos.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Hermandad de Ntra. Sra. de la Esperanza
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_esperanza_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Túnica de color blanco con fajín y botonadura en verde, caperuza blanco, con el emblema de la Hermandad, y capa verde.
			<img src="./resources/habitos/la_esperanza.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Ntra. Sra. de la Esperanza
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Manuel Ortega
			<br>
			Fecha: 1954
			<br><br>
			Nuestra Señora de la Esperanza es un encargo del Colegio de agentes comerciales. Salió por primera vez el Lunes Santo de 1955. Fue enclavada en la Iglesia parroquial de San Juan Bautista donde permanece durante todo el año a la veneración de los fieles.
			<br><br>			
			<img src="./resources/pasos/esperanza_esperanza.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Jesús de la Salud
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Pedro Gonzalez Martín
			<br>
			Fecha: 1990
			<br><br>
			Fue bendecida el día 16 de diciembre de 2006 en la Iglesia de San Juan Bautista por el Vicario del Obispado de Ávila. Desde 2007 procesiona a hombros en la Semana Santa abulense el Lunes Santo, precediendo a Ntra. Sra. de la Esperanza. 
			<br><br>			
			<img src="./resources/pasos/jesus_esperanza.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
								
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Agrupación Musical Cristo Yacente, de Salamanca en el paso de Misterio.
			<br><br>
			Asociación Arriaga de Granátula de Calatrava (Ciudad Real), en el paso de Palio.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en la Iglesia de San Juan Bautista, el Encuentro con la Procesión de La Ilusión
			se producirá alrededor de las 22:15h en la Plaza de La Catedral.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m59!1m12!1m3!1d756.7143900787241!2d-4.698520727592673!3d40.655070167167295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m44!1i0!3e2!4m5!1s0xd40f31b72ebc969%3A0x923a43752ce99582!2sPlaza+Teniente+Ar%C3%A9valo%2C+05001+%C3%81vila!3m2!1d40.6548893!2d-4.6986061!4m3!3m2!1d40.6552041!2d-4.700442!4m3!3m2!1d40.656194299999996!2d-4.7018505!4m3!3m2!1d40.6574751!2d-4.701895599999999!4m3!3m2!1d40.657351999999996!2d-4.6996953999999995!4m3!3m2!1d40.6563155!2d-4.6998777!4m3!3m2!1d40.655934099999996!2d-4.6994239!4m3!3m2!1d40.655765599999995!2d-4.6979283!4m3!3m2!1d40.6545943!2d-4.6976287!4m3!3m2!1d40.6548893!2d-4.6986061!5e0!3m2!1ses!2ses!4v1425549027996";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Teniente Arévalo
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza Teniente Arévalo, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Cardenal Placita y Deniel
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Cardenal Placita y Deniel, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Pedro Dávila
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza Pedro Dávila, Ávila");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Caballeros, Ávila");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Martín Carromolino
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Martín Carromolino, Ávila");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Blasco Jimeno
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Blasco Jimeno, Ávila");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Jimena Blázquez
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Jimena Blázquez, Ávila");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Ramón y Cajal
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Ramón y Cajal, Ávila");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Conde Don Ramón
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Conde Don Ramón, Ávila");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Marqués de Benavites
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Marqués de Benavites, Ávila");
			});
		</script>
		
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mosén Rubí
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Plaza Mosén Rubí, Ávila");
			});
		</script>
		
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Bracamonte
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Bracamonte, Ávila");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Zurraquín
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Plaza de Zurraquín, Ávila");
			});
		</script>
		
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza del Mercado Chico
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza del Mercado Chico, Ávila");
			});
		</script>
		
		<div id="ov_place_15" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Comuneros de Castilla
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Comuneros de Castilla, Ávila");
			});
		</script>
		
		<div id="ov_place_16" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Reyes Católicos
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Reyes Católicos, Ávila");
			});
		</script>
		
		<div id="ov_place_17" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Alemania
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Alemania, Ávila");
			});
		</script>
		
		<div id="ov_place_18" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de la Catedral
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Plaza de la Catedral, Ávila");
			});
		</script>
		
		<div id="ov_place_19" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle de la Cruz Vieja
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle de la Cruz Vieja, Ávila");
			});
		</script>

		<div id="ov_place_20" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Adolfo Suarez
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Plaza de Adolfo Suarez, Ávila");
			});
		</script>
		
		<div id="ov_place_21" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Don Gerónimo
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Don Gerónimo, Ávila");
			});
		</script>
		
		<div id="ov_place_22" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de José Tomé
		</div>
		<script>
			$("#ov_place_22").click(function(e){
				show_geoloc("Plaza de José Tomé, Ávila");
			});
		</script>
		
		<div id="ov_place_23" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza del Teniente Arévalo
		</div>
		<script>
			$("#ov_place_23").click(function(e){
				show_geoloc("Plaza del Teniente Arévalo, Ávila");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
