<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				PROCESIÓN DEL SILENCIO
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				16 de Abril - Miércoles Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>20 30h</b> desde la Iglesia de San Nicolás, en Plaza de San Nicolás
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			El Miércoles Santo sale la procesión del Silencio, organizada por la Cofradía de Ntra. Sra. de las Angustias.
			<br>
			Acompaña tres pasos entre los que destaca la Virgen de las Angustias, de la Escuela Castellana del siglo XVI, una 'piedad' que sostiene en su regazo el cuerpo inerte de su Hijo recién bajado de la Cruz.
			<br>
			La Madre de Dios va precedida en el cortejo por el Santo Cristo Arrodillado (Nazareno con la Cruz al hombro a punto de caer) y el Stmo. Cristo de la Agonía, un crucificado adquirido en la madrileña Casa Garín a principios de los años 80 del S.XX.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Cofradía de Ntra. Sra. de las Angustias
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_angustias_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Túnica de color azul, con la capa y el antifaz blancos.
			<img src="./resources/habitos/silencio.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Nuestra Señora de las Angustias
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Escuela Abulense
			<br>
			Fecha: s.XVI
			<br><br>
			Constituye una muestra de la expresión dolorosa de una Madre con el corazón traspasado, que apenas puede sostener en sus brazos el cuerpo muerto de su Hijo, recien bajado de la Cruz.
			<br><br>			
			<img src="./resources/pasos/silencio_angustias.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Cristo de la Agonía
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Casa Garín de Madrid
			<br>
			Fecha: 1984
			<br><br>
			La Cofradía adquirió en la casa "Garín" de Madrid una nueva imagen de Cristo en la Cruz, que le representa en el momento de su muerte, por lo que ha recibido el título de Cristo de la Agonía
			<br><br>			
			<img src="./resources/pasos/silencio_agonia.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo Arrodillado
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. José Francisco Javier Díaz Pintor
			<br>
			Fecha: 1993
			<br><br>
			Imagen con la figura de Cristo en el momento de caer al suelo, bajo la cruz, que le dio el nombre de Cristo arrodillado, talla de madera, obra del escultor D.José Francisco Javier Díaz Pintor, natural del pueblo abulense de San Esteban del Valle.
			<br><br>			
			<img src="./resources/pasos/silencio_arrodillado.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
								
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Banda de Cornetas y Tambores Santísimo Cristo a la Columna "El Amarrado".
			<br><br>
			Banda de Cornetas y Tambores Cristo del Despojo de  Valladolid.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida en la Iglesia de San Nicolás, en Plaza de San Nicolás, y llegada en S.A.I Catedral, en Plaza de la Catedral.			
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" seamless="seamless" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Plaza San Nicolás, Ávila&destination=Plaza Catedral, Ávila&avoid=tolls|highways&mode=walking&waypoints=Calle Burgohondo, Ávila|Plaza Rollo, 15, Ávila|Calle Las Damas, Ávila|Calle Nuestra Señora de Sonsoles, 50, Ávila|Calle Francisco Gallego, Ávila|Paseo Rastro, Ávila|Calle San Segundo, Ávila&language=es&zoom=15&center=40.654336,-4.70097";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" seamless="seamless" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza San Nicolás
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza San Nicolás, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Burgohondo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Burgohondo, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza del Rollo
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza Rollo, 15, Ávila");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Las Damas
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Las Damas, Ávila");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Nuestra Señora de Sonsoles
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Nuestra Señora de Sonsoles, 50, Ávila");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Francisco Gallego
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Francisco Gallego, Ávila");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo Rastro
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Paseo Rastro, Ávila");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle San Segundo, Ávila");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Catedral
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Plaza Catedral, Ávila");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	