<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				PROCESIÓN DE LA MADRUGADA
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Jueves Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>02:00h</b> desde la S.A.I Catedral, en Plaza de la Catedral
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Ya el Jueves Santo la Hermandad del Cristo de las Batallas lleva a cabo otra procesión, en este caso la de la Madrugada, pues sale a las 2.00 horas de la Capilla de Mosén Rubí de Bracamonte, con la talla histórica del Stmo. Cristo de las Batallas, pequeña imagen esculpida en terracota por el florentino Lucca della Robbia hacia 1450 para el rey de Aragón y que pasó a formar parte del ajuar de Fernando en su boda con Isabel de Castilla.
			<br>
			Los Reyes Católicos portaban esta imagen en sus campañas bélicas y ahora procesiona en la Semana Santa de Ávila acompañada por la luz de las antorchas de la cofradía y la música de los tambores destemplados y las cornetas tocando silencio
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Hermandad del Santísimo Cristo de las Batallas
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/ov_view_h_batallas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			HÁBITO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Túnica negra con la Cruz de la Cofradía al pecho. Capirote negro. Cíngulo de esparto. Zapato y calcetín negro.
			<img src="./resources/habitos/batallas.png" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo de las Batallas (antigua)
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Lucca della Robbia
			<br>
			Fecha: s. XV
			<br><br>
			La imagen del Santísimo Cristo de las Batallas es una imagen pequeña, de sesenta centímetros de altura, de barro cocido y artísticamente moldeado de la época de los Reyes Católicos. Representa el busto de Cristo con la cruz a cuesta, camino del Calvario. Está enmarcada por cuatro columnas, que apoyan en una base cuadrada, dispuesta para recibir los prensiles, que permitan su transporte; la parte superior está rematada por una cúpula, bajo la cual se sitúa la imagen. Esta imagen , era llevada consigo por los Reyes Católicos en todas sus campañas bélicas, lo que le dio este título de "Cristo de las Batallas"
			<br><br>		
			<img src="./resources/pasos/batallas_viejo.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>		
								
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Toques de Silencio.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MAPA DE LA RUTA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en la Iglesia de Mosén Rubí, en Plaza de Mosén Rubí. La ruta se realiza en sentido horario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> 
			
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m59!1m12!1m3!1d3026.7781817683194!2d-4.698276534860971!3d40.656819804555944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m44!1i0!3e2!4m3!3m2!1d40.655859299999996!2d-4.6979672!4m5!1s0xd40f31c858c7895%3A0x446776499e6b8b99!2sCalle+Tom%C3%A1s+Luis+de+Victoria%2C+05001+%C3%81vila!3m2!1d40.656573!2d-4.6988974!4m3!3m2!1d40.656804099999995!2d-4.699781!4m3!3m2!1d40.657351999999996!2d-4.6996953999999995!4m5!1s0xd40f31cf8ec1437%3A0x53b687278e780c40!2sPlaza+Fuente+el+Sol%2C+05001+%C3%81vila!3m2!1d40.658069399999995!2d-4.6994562!4m3!3m2!1d40.6584358!2d-4.6983584!4m5!1s0xd40f3034a3730bf%3A0x867a9b2d02c99708!2sPlaza+San+Vicente%2C+05001+%C3%81vila!3m2!1d40.6572265!2d-4.6962969999999995!4m3!3m2!1d40.6561202!2d-4.6965351!4m3!3m2!1d40.655854!2d-4.697967!5e0!3m2!1ses!2ses!4v1425544501938";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de la Catedral
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza de la Catedral, Ávila");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Tomás Luis de Victoria
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Tomás Luis de Victoria, Ávila");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Zurraquin
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza de Zurraquin, Ávila");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Bracamonte
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Bracamonte, Ávila");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Mosén Rubí
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza de Mosén Rubí, Ávila");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de Fuente el Sol
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Plaza de Fuente el Sol, Ávila");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Carretera de la Ronda Vieja
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Carretera de la Ronda Vieja, Ávila");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de San Vicente
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza de San Vicente, Ávila");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle San Segundo
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle San Segundo, Ávila");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza de la Catedral
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza de la Catedral, Ávila");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
