<script>
	//ov_view_proce_01 se carga en container_01
	$("#ov_view_container_01").css("background-color","#EBEBEB");
	$("#ov_view_container_01").css("background-image","url()");
	$(".ov_body_01").css("background-color","#EBEBEB");	
</script>
<!-- Publi -->
<div id="ov_zone_08_5" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_5");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_herman_list" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_herman_list").click(function(e){
			$('#ov_view_container_02').load("./views/general/ov_view_main_menu_01.html",function(){
				$('#ov_view_container_02').show('slide',{direction: "left"},500);
				$('#ov_view_container_01').hide('slide',{direction: "right"},500);								
			});	
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->
<div id="ov_zone_15_2" class="ov_zone_15">
	<div id="ov_text_21_1" class="ov_text_21">
		Para ver las últimas noticias necesitas una conexión a Internet.
	</div>
</div>
<script>	
	load_news("ov_zone_15_2");	
</script>