@font-face{font-family: "1";src: url("./fonts/regular.otf") format("opentype");}
@font-face{font-family: "2";src: url("./fonts/TitilliumWeb-Bold.ttf") format("truetype");}
@font-face{font-family: "3";src: url("./fonts/TitilliumWeb-Regular.ttf") format("truetype");}
@font-face{font-family: "4";src: url("./fonts/TitilliumWeb-Light.ttf") format("truetype");}

.ov_curtain_1{position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:1200;opacity:0.95;background-color:#5E3656;background-image:url(./images/loader.gif);background-repeat:no-repeat;background-position:center center;}

.ov_body_01{background-color:#5E3656;font-size:12px;margin:0px;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;}

.ov_view_container_01{margin:auto;width:100%;max-width:100%;min-height:0px;position:absolute;top:0px;left:0px;display:none;background-repeat:no-repeat;background-position:center center;background-image:url();background-size:cover;}

.ov_view_container_02{margin:auto;width:100%;max-width:100%;min-height:0px;position:absolute;top:0px;left:0px;display:none;background-repeat:no-repeat;background-position:center center;background-image:url();background-size:cover;}

.ov_vertical_space_01{height:10px;min-height:10px;max-height:10px;overflow:hidden;}

.ov_vertical_space_02{height:30px;min-height:30px;max-height:30px;overflow:hidden;}

.ov_vertical_space_03{height:2px;min-height:2px;max-height:2px;overflow:hidden;}

.ov_vertical_space_03_b{height:2px;min-height:2px;max-height:2px;overflow:hidden;background-color:#FFF}

.ov_vertical_space_04{height:20px;min-height:20px;max-height:20px;overflow:hidden;}

.ov_clear_floats_01{clear:both;height:0px;max-height:0px;min-height:0px;overflow:hidden;}

.ov_zone_01{margin:auto;width:100%;max-width:500px;position:relative;padding-top:5%;z-index:1}
.ov_zone_02{margin:auto;width:100%;position:absolute;bottom:0px;z-index:0}

.ov_zone_03{margin:auto;width:100%;position:relative;height:6px;min-height:6px;background-color:#5E3656;}
.ov_zone_04{margin:auto;width:90%;position:relative;height:3px;min-height:3px;background-color:#FFFFFF;}

.ov_zone_05{margin:auto;width:90%;position:relative;border-bottom:1px solid #808080;padding:10px 0px;cursor:pointer;}
.ov_zone_05_b{margin:auto;width:100%;position:relative;border-bottom:1px solid #808080;padding:10px 0px;}
.ov_zone_05:hover{background-color:#FFF;}
.ov_zone_06{margin:auto;width:90%;max-width:500px;position:relative;background-color:#FFF;cursor:pointer;}
.ov_zone_07{margin:auto;width:90%;max-width:500px;position:relative;background-color:#5E3656;height:40px;max-height:40px;overflow:hidden;cursor:pointer}
.ov_zone_07:hover{background-color:#333;}

.ov_zone_08{margin:auto;width:100%;max-width:100%;position:absolute;top:0px;background-color:#000;min-height:60px;height:60px;max-height:60px;overflow:hidden;background-image:url();background-repeat:no-repeat;background-position:center center;}

.ov_zone_09{margin:auto;width:100%;max-width:500px;position:relative;height:0px;}

.ov_zone_10{margin:auto;width:100%;max-width:500px;position:relative;background-color:#5E3656;}
.ov_zone_11{margin:auto;width:100%;max-width:500px;position:relative;background-color:#FFF;border-bottom:1px solid #333}
.ov_zone_11_b{margin:auto;width:100%;max-width:100%;background-color:#FFF;position:fixed;z-index:1000;border-bottom:1px solid #333}
.ov_zone_12{margin:auto;width:100%;max-width:100%;position:absolute;height:0px;overflow:auto;background-color:#808080}

.ov_zone_13{margin:auto;width:100%;max-width:500px;position:relative;display:none}
.ov_zone_13_b{margin:auto;width:100%;max-width:500px;position:relative;}

.ov_zone_14{margin:auto;width:94%;max-width:500px;position:relative;background-color:#FFF}

.ov_zone_15{margin:auto;width:100%;max-width:500px;position:relative;height:0px;overflow:auto;}

.ov_image_01{display:block;margin:auto;width:60%;max-width:500px;}
.ov_image_02{display:block;margin:auto;width:100%;max-width:500px;}

.ov_image_03{display:block;width:90%;max-width:100px;margin:auto;}

.ov_image_04{display:block;width:100%;max-width:50px;}
.ov_image_05{display:block;width:94%;max-width:118px;position:absolute;margin:auto;top:-15px;right:5px;}

.ov_image_06{display:inline;position:relative;top:3px}

.ov_image_07{display:inline;position:relative;top:2px}

.ov_image_08{display:block;margin:auto;cursor:pointer}
.ov_image_09{display:inline;position:relative;top:4px}
.ov_image_10{width:80px;}
.ov_image_11{width:50px;}
.ov_image_12{display:block;margin:auto;width:50%;}

.ov_box_01{float:left;width:20%;max-width:100px;}
.ov_box_02{float:left;width:80%;max-width:400px;}
.ov_box_02_b{float:left;width:100%;max-width:500px;}

.ov_box_03{float:left;width:10%;max-width:50px;}
.ov_box_04{float:left;width:55%;max-width:275px;padding-bottom:9px;}
.ov_box_05{float:left;width:35%;max-width:175px;position:relative}

.ov_box_06{float:left;width:30%;max-width:150px;background-image:url(images/cristo2.png);background-repeat:no-repeat;background-position:top center;position:relative}
.ov_box_07{float:left;width:70%;max-width:350px;background-color:#000;opacity:0.5;overflow:auto;}
.ov_box_08{width:100%}

.ov_box_09{width:90%;margin:auto;padding-top:10px;border-bottom:2px solid #FFF;}
.ov_box_10{width:20%;float:left;max-width:100px;cursor:pointer}
.ov_box_10_b{width:20%;float:left;max-width:100px;background-color:#000;opacity:0.5;}
.ov_box_11{width:90%;margin:auto;}
.ov_box_12{width:90%;margin:auto;border-top:1px solid #000;height:2px;min-height:2px}

.ov_box_13{width:90%;margin:auto;background-color:#573880;cursor:pointer;border-radius:5px;box-shadow:1px 1px 1px 1px #000}
.ov_box_13_b{width:90%;margin:auto;background-color:#5E3656;}
.ov_box_14{width:35%;float:left}
.ov_box_15{width:65%;float:left}
.ov_box_16{width:55%;padding:5px 10px;border-radius:10px;text-align:center;border:1px solid #FFF;color:#FFF;font-size:1.0em;font-family:"4";margin:10px 15px;}
.ov_box_17{width:90%;margin:auto;padding:10px 0px}

.ov_text_01{font-size:1.5em;font-family:"3";color:#333333;padding-top:1%;padding-left:20px;padding-bottom:0px;text-decoration:underline}
.ov_text_02{font-size:1.1em;font-family:"4";color:#333333;padding-left:20px;padding-bottom:5px;}
.ov_text_03{font-size:1.5em;font-family:"3";color:#5E3656;padding-top:5px;padding-left:10px;padding-bottom:0px;text-decoration:underline;line-height:22px;}
.ov_text_04{font-size:1.1em;font-family:"4";color:#5E3656;padding-left:10px;line-height:12px;padding-top:5px;}
.ov_text_05{margin:auto;width:80%;text-align:right;font-size:1.5em;font-family:"3";color:#FFF;padding-top:7px;padding-bottom:7px;}
.ov_text_06{text-align:center;font-size:1.3em;font-family:"3";color:#FFF;padding-top:10%;padding-bottom:10px;}
.ov_text_07{text-align:justify;font-size:1.1em;font-family:"3";color:#FFF;padding-left:10px;padding-right:10px;}
.ov_text_08{text-align:center;font-size:1.6em;font-family:"1";color:#FFF;padding-left:10px;padding-right:10px;padding-bottom:15px;position:absolute;bottom:0px;cursor:pointer}
.ov_text_09{text-align:center;font-size:1.1em;font-family:"3";color:#FFF;padding:2px 0px}
.ov_text_10{text-align:center;font-size:1.1em;font-family:"3";color:#FFF;padding:2px 0px}
.ov_text_11{text-align:center;font-size:1.6em;font-family:"1";color:#333;padding:5px;cursor:pointer}
.ov_text_12{text-align:left;font-size:1.8em;font-family:"2";color:#FFF;padding:10px;line-height:20px;padding-bottom:0px}
.ov_text_12_b{text-align:left;font-size:1.2em;font-family:"2";color:#FFF;padding:10px;line-height:20px;padding-bottom:0px}
.ov_text_13{text-align:left;font-size:1.2em;font-family:"3";color:#FFF;padding:3px 10px;line-height:18px}
.ov_text_14{text-align:left;font-size:1.0em;font-family:"4";color:#FFF;padding:0px 15px;line-height:15px}
.ov_text_15{text-align:left;font-size:1.3em;font-family:"2";color:#FFF;padding:7px 15px;padding-bottom:0px;text-decoration:underline}
.ov_text_16{text-align:justify;font-size:1.1em;font-family:"3";color:#333;line-height:18px;padding-bottom:15px;}
.ov_text_17{text-align:center;font-size:1.0em;font-family:"3";color:#5E3656;line-height:15px;text-decoration:underline;cursor:pointer}
.ov_text_18{text-align:justify;font-size:1.0em;font-family:"3";color:#333;line-height:15px;padding-left:10px;}
.ov_text_19{text-align:justify;font-size:0.9em;font-family:"3";color:#333;line-height:15px;padding:5px 0px;}
.ov_text_20{text-align:center;font-size:1.2em;font-family:"3";color:#FFF;padding:10px 0px;}

.ov_mapa_ruta_01{width:100%;height:300px;min-height:300px;background-repeat:no-repeat;background-size:contain;background-position:top center;background-color:#DDD}

.ov_span_01{font-family:"1";color:#5E3656}

.ov_span_02{font-size:1.2em;font-weight:bold;}

.ov_span_03{font-weight:bold;}

.ov_span_04{font-family:"1";color:#5E3656;text-decoration:underline;cursor:pointer}

.ov_button_01{text-align:center;margin:auto;width:180px;max-width:180px;padding:5px 0px;color:#FFF;font-family:"1";font-size:1em;cursor:pointer;background-color:#5E3656;}

.ov_button_01:hover{text-align:center;margin:auto;width:180px;max-width:180px;padding:5px 0px;color:#FFF;font-family:"1";font-size:1em;cursor:pointer;background-color:#333;}

@media only screen and (max-width: 680px), only screen and (max-device-width: 680px)
{

}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{

}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{

}
