<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">

	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>

		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>

</div>
<div class="back_hollow_filler"></div>
<script>
	$("#ov_back_button_5").click(function(e) {

		onBackKeyDown();

	});
	$("#ov_back_button_6").click(function(e) {

		load_view({
			view_to_load : 'ov_view_container_02',
			url_to_load : './views/general/ov_view_main_menu.html',
			view_background_color : '#EBEBEB',
			view_background_image : 'none',
			view_to_hide : 'ov_view_container_01'
		});

	}); 
</script>
<!-- Volver -->
<div class="ov_zone_general">

	<div class="ov_zone_limited_2">

		<div style="padding:10px;background-color:#5E3656">

			<div id="ov_large_menu_item_1" class="ov_large_menu_item">

				<div class="ov_box_circle_images">

					<img src="./resources/escudos/junta.jpg" class="ov_image_circle" alt=" ">

				</div>

				<div class="ov_box_large_menu_item_title">

					<div class="ov_text_large_menu_item_01" style="color:#FFF">
						Junta de Semana Santa de Ávila
					</div>

				</div>

				<div class="ov_clear_floats"></div>

			</div>

		</div>

		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Fue en 1954 cuando el Ilmo. Sr. D. Castor García Robledo, Vicario General del Obispado de Ávila, reunió a un grupo de cofrades e instituyo la Junta de Semana Santa de Ávila.
			<br>
			Los cargos estarían desempeñados por miembros de las distintas Cofradías o Patronatos que formaban parte de la misma. La Presidencia de la primera Junta se encomendó al Patronato de la Santa Vera Cruz y la Secretaria al Patronato de las Angustias y Santo Sepulcro.
			<br>
			La labor de esta Junta consistía en unificar criterios en orden al desarrollo de los desfiles de cada Cofradía y preparar la propaganda publicitaria del conjunto de la Semana Santa.
			<br>
			El 20 de enero de 1988 se aprobaron los primeros Estatutos, que fueron modificados y aprobados "ad experimentum" el 21 de julio de 1999.
			<br>
			La Junta de Semana Santa es la encargada de la publicación de la Revista y el Cartel de la Semana Santa abulense; de organizar las Jornadas de Musicara Sacra; de convocar el Concurso de Fotografía Religiosa; organización de los Pregones de la Semana Santa de Ávila (en Ávila y Valladolid); organización del Sermón de las Siete Palabras; así como cuantos actos se realicen en colaboración con otras Juntas de Semana Santa y diferentes entidades.
			<br>
			La Junta de Semana Santa abulense fue la encargada de organizar en el año 2007 el XVII Encuentro Nacional de Cofradías Penitenciales de Semana Santa.
		</div>

		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			DATOS
		</div>

		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			<b>Hábito:</b>
			<br>
			Túnica y capucho de terciopelo negro, capa color granate y cíngulo en colores rojo y negro <img src="./resources/habitos/junta.png" style="display:block">
			<b>Templo de Residencia Canónica:</b>
			<br>
			Ermita del Humilladero - Iglesia de San Vicente - S.A.I Catedral
			<br>
			<br>
			<b>Fundación:</b>
			<br>
			1954.
			<br>
			<br>
			<b>Hermanos:</b>
			<br>
			No tiene (es la representación de todas las cofradías, patronatos y hermandades).
			<br>
			<br>
			<b>Nazarenos:</b>
			<br>
			5 (Presidiendo el trono del Santísimo Cristo de las Murallas).
			<br>
			<br>
			<b>Atributos de los Hermanos:</b>
			<br>
			Insignia de la Junta de Semana Santa de Avila (Los miembros de la Junta Directiva)
		</div>

		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			CONTACTO
		</div>

		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Junta de Semana Santa de Ávila
			<br>
			C/ Zamora s/n (antiguo Matadero)
			<br>
			05005 Ávila
			<br>
			Tf / fax : 920 256968
			<br>
			info@juntasemanasanta-avila.com
			<br>
		</div>

		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PROCESIONES / ACTOS
		</div>

		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Sermón de las Siete Palabras (Viernes Santo)
		</div>
		<script>
			$("#ov_to_herman").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/procesiones/ov_view_sermon_01.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div id="ov_to_herman_02" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Procesion de la Pasión y Santo Entierro (18 de Abril, Viernes Santo)
		</div>
		<script>
			$("#ov_to_herman_02").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/procesiones/ov_view_pasion_01.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>

		<div class="hollow_10px"></div>

		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo de las Murallas
		</div>

		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Nicomedes García Piquero
			<br>
			Fecha: 2000
			<br>
			Este Cristo es el simbolo de la unión entre todas las cofradías y va acompañado siempre por la Junta de Semana Santa de Ávila
			<br>
			<br>
			<img src="./resources/pasos/cristo_murallas.jpg" style="display:block;margin:auto;width:80%;max-width:300px">
		</div>

		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			La Tercera palabra
		</div>

		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: "El Cristo de Anaya", atribuido a Juan Bautista Vazquez "El Viejo", San Juan y la Virgen anónimos
			<br>
			<br>
			Fecha: "El Cristo de Anaya" 1580, San Juan y la Virgen mediados del s. XVIII
			<br>
			<br>
			Paso de misterio compuesto por la figura de la Virgen y San Juan , de pie, junto a la Cruz, recibiendo el mensaje que Cristo le manifiesta en su Tercera Palabra; la figura de Cristo es una talla impresionante, de autor desconocido, aunque presenta unas características muy similares al Cristo de Burgos, que se venera en la Ciudad de Sevilla, cuyo autor es Juan Bautista Vázquez "El Viejo", escultor que trabajó en Ávila hasta 1561 en que se traslado a Sevilla, donde talló aquella imagen , que nos ha hecho pensar en que sea el autor de este Cristo de la Buena Muerte, que adquirió el Canonigo Anaya, para la capilla que edificó en el Claustro de la Catedral de Ávila
			<br>
			<br>
			<img src="./resources/pasos/veracruz_palabra.jpg" style="display:block;margin:auto;width:80%;max-width:300px">
		</div>

		<div class="hollow_10px"></div>
		<div class="hollow_10px"></div>
		<div class="hollow_10px"></div>

	</div>

</div>
