<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_h_junta" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_h_junta").click(function(e){
			if(referrer_from_proce=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_herman_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_proce,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_proce="";				
				});
			}	
		});
	</script>
</div>

<div class="ov_vertical_space_04">&nbsp;</div>
<div class="ov_vertical_space_04">&nbsp;</div>

<div id="ov_zone_13_h_junta" class="ov_zone_13_b">
		
	<div id="ov_box_13_h_junta" class="ov_box_13_b">
		<div id="ov_box_14_h_junta" class="ov_box_14">
			<img src="styles/images/escudos/junta.jpg" id="ov_image_03_4" class="ov_image_03" alt="circle_04"/>
		</div>
		<div id="ov_box_15_h_junta" class="ov_box_15">
			<div id="ov_text_15_h_junta" class="ov_text_15">
				<br>			
				Junta de Semana Santa de Ávila
			</div>
						
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>



<div id="ov_zone_14_h_junta" class="ov_zone_14">
	<div id="ov_box_17_h_junta" class="ov_box_17">
		<div id="ov_text_16_h_junta" class="ov_text_16">
			Fue en 1954 cuando el Ilmo. Sr. D. Castor García Robledo, Vicario General del Obispado de Ávila, reunió a un grupo de cofrades e instituyo la Junta de Semana Santa de Ávila.
			<br>
			Los cargos estarían desempeñados por miembros de las distintas Cofradías o Patronatos que formaban parte de la misma. La Presidencia de la primera Junta se encomendó al Patronato de la Santa Vera Cruz y la Secretaria al Patronato de las Angustias y Santo Sepulcro.
			<br>
			La labor de esta Junta consistía en unificar criterios en orden al desarrollo de los desfiles de cada Cofradía y preparar la propaganda publicitaria del conjunto de la Semana Santa.
			<br>
			El 20 de enero de 1988 se aprobaron los primeros Estatutos, que fueron modificados y aprobados "ad experimentum" el 21 de julio de 1999.
			<br>
			La Junta de Semana Santa es la encargada de la publicación de la Revista y el Cartel de la Semana Santa abulense; de organizar las Jornadas de Musicara Sacra; de convocar el Concurso de Fotografía Religiosa; organización de los Pregones de la Semana Santa de Ávila (en Ávila y Valladolid); organización del Sermón de las Siete Palabras; así como cuantos actos se realicen en colaboración con otras Juntas de Semana Santa y diferentes entidades.
			<br>
			La Junta de Semana Santa abulense fue la encargada de organizar en el año 2007 el XVII Encuentro Nacional de Cofradías Penitenciales de Semana Santa.
		</div>
		
		<div id="ov_text_16_h_junta_3" class="ov_text_16">
			<span class="ov_span_02">Datos.</span><br><br>
			<span class="ov_span_01">Hábito:</span><br>Túnica y capucho de terciopelo negro, capa color granate y cíngulo en colores rojo y negro
			<br><br>
			<img src="styles/images/habitos/junta.png" class="ov_image_11"/>
			<br><br>
			<span class="ov_span_01">Templo de Residencia Canónica:</span><br>Ermita del Humilladero - Iglesia de San Vicente - S.A.I Catedral
			<br><br>
			<span class="ov_span_01">Fundación:</span><br>1954
			<br><br>
			<span class="ov_span_01">Hermanos:</span><br>No tiene (es la representación de todas las cofradías, patronatos y hermandades) 
			<br><br>
			<span class="ov_span_01">Nazarenos:</span><br>5 (Presidiendo el trono del Santísimo Cristo de las Murallas
			<br><br>
			<span class="ov_span_01">Atributos de los Hermanos:</span><br>Insignia de la Junta de Semana Santa de Avila (Los miembros de la Junta Directiva)
						
		</div>
		<div id="ov_text_16_h_junta_6" class="ov_text_16">
			<span class="ov_span_02">Contacto.</span><br><br>
			Junta de Semana Santa de Ávila<br>
			C/ Zamora s/n (antiguo Matadero)<br>
			05005Ávila<br>
			Tf / fax : 920 256968<br>
			info@juntasemanasanta-avila.com<br>
		</div>
		<div id="ov_text_16_h_junta_2" class="ov_text_16">
			<span class="ov_span_02">Procesiones / Actos.</span><br><br>
			<div id="ov_text_17_h_junta_1" class="ov_text_17">
				Sermón de las Siete Palabras (18 de Abril, Viernes Santo)
			</div>
			<script>
				$("#ov_text_17_h_junta_1").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_junta_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_sermon_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
			<br>
			<div id="ov_text_17_h_junta_2" class="ov_text_17">
				Procesion de la Pasión y Santo Entierro (18 de Abril, Viernes Santo)
			</div>
			<script>
				$("#ov_text_17_h_junta_2").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_junta_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_pasion_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>	
		<div id="ov_text_16_h_junta_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>			
			<div id="ov_text_18_h_junta_3" class="ov_text_18">
				<span class="ov_span_03">Santísimo Cristo de las Murallas</span>
				<div id="ov_text_19_h_junta_3" class="ov_text_19">					
				    Autor: D. Nicomedes García Piquero <br>
				    Fecha: 2000<br>
				    Este Cristo es el simbolo de la unión entre todas las cofradías y va acompañado siempre por la Junta de Semana Santa de Ávila				   
					<br><br>
					<img src="styles/images/pasos/cristo_murallas.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>			
		</div>
			
	</div>
</div>	

