<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/afligidos.jpg" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Cofradía del Stmo. Cristo de los Afligidos</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Cofradía del Santísimo Cristo de los Afligidos y Nuestra Señora de la Paz es el fruto de la inquietud de cuatro cofrades de otras Cofradías que se marcan la meta de ver otra vez en las calles de nuestra ciudad la imagen del Santísimo Cristo Amarrado a la Columna, del imaginero Gregorio Fernández. El amor hacia esta advocación de Nuestro Señor les da las fuerzas necesarias para esa misma tarde, un domingo del mes de febrero del año 2000, visitar a los Padres Carmelitas para solicitar la autorización de poder procesionar con dicha imagen así como establecer su sede canónica en su Convento, la casa natal de Teresa de Ávila.
			<br><br>
			Les recibe el Padre Segundo Fernández al cual exponen su deseo pero éste les comunica que esa imagen no puede procesionar debido a su delicado estado de conservación, albergando una cierta esperanza de algún día no muy lejano poder ver cumplido este sueño de muchos abulenses.
			<br><br>
			Ante esta noticia ellos solicitan la imagen del Santísimo, que se encuentra según se entra en la Iglesia al lado izquierdo, un Cristo Crucificado que despierta entre los abulenses mucha devoción. No tiene el valor artístico de la otra talla pero sí el valor devocionario de los muchos abulenses que se acercan a La Santa.
			<br><br>
			El Padre Fernández les comunica que el Prior se encuentra de viaje y en unos quince días esperan su regreso. El Señor Martínez Vara, en nombre de esa pequeña gestora, le traslada que en tres días le presentará un borrador de los Estatutos para su conocimiento y los cambios que ellos consideren oportunos realizar. A la vez le solicita una reunión lo antes posible con el Prior, la cual se lleva antes de lo fijado por el regreso anticipado del Padre José Vicente, recibiendo a la gestora que a esa fecha había aumentado su número a doce miembros.
			<br><br>
			En esa reunión son aceptadas nuestras propuestas por parte de la Comunidad de Padres Carmelitas Descalzos; de una parte admitir a la Cofradía en su casa y de otra la cesión de la imagen del Santísimo Cristo de los Afligidos para realizar nuestra Estación de Penitencia. Quedaba fijar el día. En un momento nosotros pesamos en la tarde del Domingo de Ramos. Este día el Padre José Vicente no lo veía por ser un día de triunfo de Nuestro Señor. Después de barajar días, para no coincidir con otras entidades, vimos que la única fecha libre era el Viernes de Dolores; realizar el Vía Matris fue sugerido por D. Benjamín López de Juan, a la sazón párroco de San Juan. De esta manera, D. Adolfo González Montes, como obispo de nuestra Diócesis, firmó nuestros Estatutos el 31 de diciembre de 2000, quedando erigida canónicamente la Cofradía el último día del milenio y del siglo XX.
			<br><br>
			Nuestra primera Estación de Penitencia coincide con un nuevo siglo y milenio. Para ésta primera procesión contamos con la colaboración de la Archicofradía de Medinaceli, la cual se prolongó durante tres, procesionando con la imagen de Nuestra Señora de las Lágrimas. Gracias a la cesión de una imagen de la Virgen bajo la advocación de Santa María Consuelo de los Afligidos, obra del escultor abulense José Luis Jiménez Hernández “Kaito”, ésta Cofradía vio cumplido su deseo de ser independiente al tener una imagen propia, una dolorosa donde las haya, conocida por la Virgen de las Tres Culturas.
			<br><br>
			El 30 de marzo de este año 2012, Viernes de Dolores, la Cofradía estrena una nueva imagen bajo la advocación de Nuestra Señora de la Paz, con la intención de armonizar el conjunto escultórico, por la similitud entre ambas imágenes. La talla de la Virgen es del escultor de Lucena (Córdoba), Antonio Fernández.
			<br><br>
			Los hermanos afligidos como hábito llevan túnica marrón y capa beige, cíngulo bicolor con los colores de la Cofradía así como el cordón del crucifijo-medalla en los mismos tonos. El hábito en su conjunto recuerda al hábito monacal de los carmelitas y procesionan a cara descubierta y la cabeza cubierta con la capucha de la capa. Los hermanos portan una cruz de mano. Dos hermanos portan nuestra campana para llamar al silencio y recogimiento. Nuestra estación de penitencia la abre un Crucifijo Guía, cedido por el escultor abulense José Luis Jiménez Hernández “Kaito”.
			<br><br>
			Nuestro Paso es austero y sencillo siguiendo nuestro Acta Fundacional, donde se recoge el espíritu reformador de Teresa de Ávila. Es un Paso de Misterio y su conjunto está formado por Nuestro Señor y su Madre, destacando la peculiar inclinación en la que sale montado el crucificado.
			<br><br>
			Es la primera cofradía del siglo XXI. La única en procesionar a cara descubierta y con hábito monacal. La primera en incorporar braceros para porta su paso por debajo del mismo. Hasta el momento en Ávila los pasos eran llevados en andas y a ruedas. Esta Cofradía tiene como hermanos honoríficos, entre otros, a: 
			<br>- La Banda de C.C. y T.T. El Amarrado de Ávila.
			<br>- La Archicofradía de Jesús de Medinaceli.
			<br>- La Asociación de Víctimas del Terrorismo.
			<br>- El Centro Penitenciario de Brieva. Desde nuestra primera estación de penitencia nos ha acompañado siendo la única Cofradía que tiene ese privilegio de poder contar entre sus filas de penitentes a internas y funcionarios del mencionado centro.
			<br>- Antonio Soto Rodríguez, que ha compuesto varias saetas a Nuestro Titular.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			DATOS
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			<b>Hábito:</b><br>Túnica marrón, capa con capucha y cíngulo beige.
			<img src="./resources/habitos/afligidos.png" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Convento de Santa Teresa.
			<br><br>
			<b>Fundación:</b><br>1996.
			<br><br>
			<b>Hermanos:</b><br>160.
			<br><br>
			<b>Nazarenos:</b><br>100.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Cruz de Madera
			<br><br>
			<b>Culto(s) organizados:</b><br>Triduo al Santísimo Cristo de los Afligidos.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			CONTACTO
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Cofradía del Santisimo Cristo de los Afligidos.<br>
			Convento de los Padres Carmelitas<br>
			Plaza de la Santa, nº 2<br>
			05001 - AVILA<br><br>			
			afligidosavilahm@gmail.com 
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PROCESIONES
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Via Matris (Viernes de Dolores)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_via_matris_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo de Los Afligidos
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Talleres Arte Cristiano de Barcelona
			<br>
			Fecha: 1929
			<br><br>
			Talla adquirida por los P. Carmelitas del Convento de Santa Teresa de Jesús, donde se encuentra al culto.
			La Imagen representa a Jesús crucificado y presenta la particularidad de estar inclinada la cruz en lugar de su posición vertical, siendo la única imagen que sale en esta posición.									
			<br><br>
			<img src="./resources/pasos/cristo_afligidos.jpg" style="display:block;margin:auto;width:80%;max-width:300px">			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Nuestra Señora de la Paz
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Obra del escultor Antonio Fernández (Lucena, Córdoba)
			<br><br>
			En el año 2012 procesiona por primera vez en la Semana Santa Abulense en Sustitucion de Santa María Consuelo de los Afligidos y así con la intención de armonizar el conjunto escultórico, por la similitud entre ambas imágenes.
			<br><br>						
			<img src="./resources/pasos/paz_afligidos1.jpg" style="display:block;margin:auto;width:80%;max-width:300px">
			<br><br>			
			<img src="./resources/pasos/paz_afligidos2.jpg" style="display:block;margin:auto;width:80%;max-width:300px">
			<br><br>			
			<img src="./resources/pasos/paz_afligidos3.jpg" style="display:block;margin:auto;width:80%;max-width:300px">
			<br><br>			
			<img src="./resources/pasos/paz_afligidos4.jpg" style="display:block;margin:auto;width:80%;max-width:180px">
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santa María Consuelo de los Afligidos
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Obra del escultor abulense Kaito
			<br>
			Fecha: 2004
			<br><br>			
			<img src="./resources/pasos/maria_afligidos.jpg" style="display:block;margin:auto;width:80%;max-width:300px">			
		</div>
			
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
