<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<!-- Publi -->
<div id="ov_zone_08_5" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_5");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_h_franciscanos" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_h_franciscanos").click(function(e){
			if(referrer_from_proce=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_herman_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_proce,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_proce="";				
				});
			}	
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->

<div id="ov_zone_13_h_franciscanos" class="ov_zone_13_b">
		
	<div id="ov_box_13_h_franciscanos" class="ov_box_13_b">
		<div id="ov_box_14_h_franciscanos" class="ov_box_14">
			<img src="styles/images/escudos/franciscanos.JPG" id="ov_image_03_4" class="ov_image_03" alt="circle_04"/>
		</div>
		<div id="ov_box_15_h_franciscanos" class="ov_box_15">
			<div id="ov_text_15_h_franciscanos" class="ov_text_15">				
				Padres Franciscanos, Real e Il. Esclavitud de Ntro. Padre Jesús Nazareno "Medinaceli" y Juventud Antoniana
				<br><br>
			</div>
						
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>



<div id="ov_zone_14_h_franciscanos" class="ov_zone_14">
	<div id="ov_box_17_h_franciscanos" class="ov_box_17">
		<div id="ov_text_16_h_franciscanos" class="ov_text_16">
			La procesión de la "Borriquilla" se inició en 1944, Fecha en que la Juventud Católico Antoniana, perteneciente al Convento de San Antonio de Padua encargaron a la Casa Alsina de Madrid el grupo escultórico de la "Entrada de Jesús en Jerusalén".
			<br>
			En su primera salida en procesión la procesión partió desde la S.A.I. Catedral hasta el Convento de Santa Clara, más conocido como las "Gordillas", participando en la misma los niños de todos los colegios de la ciudad, además de la Juventud Católico Antoniana. En años sucesivos la procesión finalizaría en el Convento de San Antonio.
			<br>
			Tras la crisis por la que paso la Semana Santa abulense a finales de los años 60 y la década de los 70, además de la desaparición de la Cofradía de la Juventud Católica Antoniana, los RR. PP. Franciscanos, apoyados por los feligreses de la Parroquia de San Antonio organizan la procesión por las calles próximas a su convento.
			<br>
			Con el resurgimiento de la Semana Santa a finales de la década de los 80, los RR. PP. Franciscanos solicitaron la Colaboración de la Cofradía de San Antonio de Padrua y volvieron a organizar la procesión original desde la S.A.I. Catedral hasta el convento de San Antonio.
			<br>
			Desde el año 1992 se hace cargo de la organización de la procesión de la "Borriquilla" la Archicofradía de la Real e Ilustre Esclavitud de Nuestro Padre Jesús Nazareno de Medinaceli.
			<br>
			En esta próxima Semana Santa nuevamente volveremos a ver incorporados a esta procesión a los jóvenes de la Juventud Antoniana, cofradía que ha vuelto a resurgir impulsada por los RR. PP. Franciscanos
		</div>
		
		<div id="ov_text_16_h_franciscanos_3" class="ov_text_16">
			<span class="ov_span_02">Datos.</span><br><br>
			<span class="ov_span_01">Hábito:</span><br>Túnica de color morado; cíngulo, capa y esclavina en color blanco. (Archicofradía de Jesús de Medinaceli)
			<br>Túnica en color marrón franciscano, cíngulo blanco y capa en blanco con la Cruz de Jerusalén (Juventud Antoniana).
			<br><br>
			<img src="styles/images/habitos/las_palmas.png" class="ov_image_11"/>
			<img src="styles/images/habitos/las_palmas_2.png" class="ov_image_11"/>
			<br><br>
			<span class="ov_span_01">Templo de Residencia Canónica:</span><br>Iglesia de San Antonio de Padua.
			<br><br>
			<span class="ov_span_01">Fundación:</span><br>
			<br><br>
			<span class="ov_span_01">Hermanos:</span><br>1072 pertenecientes a la Archicofradía de Jesús de Medinaceli - 102 pertenecientes a la Juventud Antoniana.
			<br><br>
			<span class="ov_span_01">Nazarenos:</span><br>160.
			<br><br>
			<span class="ov_span_01">Atributos de los Hermanos:</span><br>Palma.
			<br><br>
			<span class="ov_span_01">Culto(s) organizados:</span><br>
		</div>
		<div id="ov_text_16_h_franciscanos_6" class="ov_text_16">
			<span class="ov_span_02">Contacto.</span><br><br>
			Hermandad de Los Estudiantes,<br>
			C/ Canteros s/n, 05005 Ávila<br>
			Teléfono: 920 25 10 20 Ext. 211<br>			
			sergio.nanez@ucavila.es<br>
		</div>
		<div id="ov_text_16_h_franciscanos_2" class="ov_text_16">
			<span class="ov_span_02">Procesiones.</span><br><br>
			<div id="ov_text_17_h_franciscanos_1" class="ov_text_17">
				Procesión de Las Palmas (13 de Abril, Domingo de Ramos)
			</div>
			<script>
				$("#ov_text_17_h_franciscanos_1").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_franciscanos_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_las_palmas_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>	
		<div id="ov_text_16_h_franciscanos_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_h_franciscanos_1" class="ov_text_18">
				<span class="ov_span_03">Entrada de Jesús en Jerusalén</span>
				<div id="ov_text_19_h_franciscanos_1" class="ov_text_19">					
				    Autor: Talleres de Arte Cristiano de Olot. Adquirido en la Casa Alsina de Madrid<br>
				    Fecha: 1944<br>
				    Paso de misterio de 5 figuras
				    <br><br>
					<img src="styles/images/pasos/jesus_franciscanos.jpg" class="ov_image_12"/>
					<br>					
				</div>
			</div>
			<div id="ov_text_18_h_franciscanos_2" class="ov_text_18">
				<span class="ov_span_03">Nuestra Señora de los Infantes </span>
				<div id="ov_text_19_h_franciscanos_2" class="ov_text_19">					
				    Autor: Anónimo<br>
				    Fecha: Finales s. XIX
				    <br><br>
					<img src="styles/images/pasos/infante_franciscanos.jpg" class="ov_image_12"/>
					<br>				    				
				</div>
			</div>			
		</div>
			
	</div>
</div>	

