<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<!-- Publi -->
<div id="ov_zone_08_5" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_5");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_h_concepcion" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_h_concepcion").click(function(e){
			if(referrer_from_proce=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_herman_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_proce,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_proce="";				
				});
			}	
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->


<div id="ov_zone_13_h_concepcion" class="ov_zone_13_b">
		
	<div id="ov_box_13_h_concepcion" class="ov_box_13_b">
		<div id="ov_box_14_h_concepcion" class="ov_box_14">
			<img src="styles/images/escudos/magdalena.JPG" id="ov_image_03_4" class="ov_image_03" alt="circle_04"/>
		</div>
		<div id="ov_box_15_h_concepcion" class="ov_box_15">
			<div id="ov_text_15_h_concepcion" class="ov_text_15">
				<br>				
				Iltre. Patronato de la Purísima Concepción, Santa María Magdalena y ánimas del Purgatorio
			</div>
						
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>



<div id="ov_zone_14_h_concepcion" class="ov_zone_14">
	<div id="ov_box_17_h_concepcion" class="ov_box_17">
		<div id="ov_text_16_h_concepcion" class="ov_text_16">
			Aunque fundado en el siglo XIV, no es hasta el año 1993 cuando un grupo de abulenses decidió organizar una procesión penitencial, al estilo de aquellas que organizaban nuestros antepasados en el siglo XVI.
			<br>
			Eligieron para ello una imagen de Santa María Magdalena, vinculada al Patronato de Ánimas, y organizaron una procesión que evocara el recuerdo de aquellos tiempos, en que se vivía por emoción el sentido cristiano de la Semana Santa y tomaron como hora de salida las 12 de la noche.
			<br>
			Desde la iglesia de la Magdalena se dirige la procesión por recónditas calles hasta la Ermita del Humilladero, sede del Patronato de la Santa Vera Cruz, donde se mezclan los hermanos de ambos patronatos mientras una coral interpreta el canto del Miserere que resuena en el silencio de la noche.
			<br>
			El encuentro entre ambos Patronatos, es un encuentro de amistad, de desagravio, por las disputas que en siglos anteriores mantuvieron por defender cada uno sus derechos a la hora de enterrar a los muertos, que incluso les llevo a pleitear entre ellos.
			<br>
			Esta cofradía contempla en sus estatutos un máximo de 100 hermanos en su procesión más los anderos necesarios.
		</div>
		
		<div id="ov_text_16_h_concepcion_3" class="ov_text_16">
			<span class="ov_span_02">Datos.</span><br><br>
			<span class="ov_span_01">Hábito:</span><br>Túnica de color blanco, fajín azul, capa y verdugo negro
			<br><br>
			<img src="styles/images/habitos/magdalena.png" class="ov_image_11"/>
			<br><br>
			<span class="ov_span_01">Templo de Residencia Canónica:</span><br>Iglesia de la Magdalena
			<br><br>
			<span class="ov_span_01">Fundación:</span><br>s. XIV, pero no se incorpora a Semana Santa hasta 1993
			<br><br>
			<span class="ov_span_01">Hermanos:</span><br>90
			<br><br>
			<span class="ov_span_01">Nazarenos:</span><br>90
			<br><br>
			<span class="ov_span_01">Atributos de los Hermanos:</span><br>Cruz de madera
			<br><br>
			<span class="ov_span_01">Culto(s) organizados:</span><br>Eucaristía el día de "Todos los Santos" y el día de la Inmaculada
			
		</div>
		<div id="ov_text_16_h_concepcion_6" class="ov_text_16">
			<span class="ov_span_02">Contacto.</span><br><br>
			Il. Patr. Purísima Concepción, S. María Magdalena y ánimas del Purgatorio<br>
			Iglesia de Santa María Magdalena<br>
			Pza. Santa Teresa 15<br>
			05001 Ávila<br>			
			patronato.magdalena@gmail.com
		</div>
		<div id="ov_text_16_h_concepcion_2" class="ov_text_16">
			<span class="ov_span_02">Procesiones.</span><br><br>
			<div id="ov_text_17_h_concepcion_1" class="ov_text_17">
				Procesión del Miserere (15 de Abril, Martes Santo)
			</div>
			<script>
				$("#ov_text_17_h_concepcion_1").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_concepcion_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_miserere_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>	
		<div id="ov_text_16_h_concepcion_4" class="ov_text_16">
			<span class="ov_span_03">Pasos.</span><br><br>			
			<div id="ov_text_18_h_concepcion_1" class="ov_text_18">
				<span class="ov_span_02">La Magdalena</span>
				<div id="ov_text_19_h_concepcion_1" class="ov_text_19">					
				    Autor: Anónimo<br>
				    Fecha:   s.XVI<br>
				    La imagen elegida para procesionar fue la de Santa María Magdalena, mujer que no dudó en buscar a Cristo y arrodillarse ante Él y pedirle perdón. Es una talla de madera policromada del s. XVI de autor desconocido. En su mano izquierda sostiene el tarro de los perfumes, que ofrecerá al Maestro.
					<br><br>
					<img src="styles/images/pasos/magdalena_magdalena.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>			
		</div>
			
	</div>
</div>	

