<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/vacas.jpg" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Iltre. Patronato de la Stma. Trinidad y Ntra. Sra. de las Vacas</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Es un Patronato de muy antigua tradición y ya figuran datos del mismo en el año 1258. El Patronato de la Santísima Trinidad estaba enclavado en la antigua parroquia del mismo nombre en un hospital anejo a la misma.
			<br>
			En el s/XV se fusionan las Cofradía del Santo Sepulcro (de la Ermita del Cristo de la Luz) y el Patronato de la Santísima Trinidad y Santa María de las Vacas, tomando por sede la Ermita de Nuestra Señora de las Vacas
			<br>
			Hasta el año 1988 era un Patronato de gloria, dedicando sus actividades y sus fiestas en torno a la Virgen de las Vacas. En este año el Patronato adquirió la imagen del "Santísimo Cristo de la Ilusión" y se incorpora con esta imagen a las procesiones de la Semana Santa abulense del año 1990.
			<br>
			Este Patronato, desde su primera salida, parte desde la Ermita de las Vacas para encontrarse durante el recorrido con la Hermandad de Nuestra Señora de la Esperanza, dando origen a la "Procesión del Encuentro". Una vez realizado el "Encuentro" la imagen vuelve a su Ermita.	
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			DATOS
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			<b>Hábito:</b><br>Túnica de color verde con cíngulo en blanco y verde, botonadura en blanco, caperuza verde, con el emblema de la Hermandad, y capa blanca.
			<img src="./resources/habitos/las_vacas.png" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Ermita de Nuestra Señora de las Vacas
			<br><br>
			<b>Fundación:</b><br>1258.
			<br><br>
			<b>Hermanos:</b><br>1265.
			<br><br>
			<b>Nazarenos:</b><br>240.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Vela eléctrica con farol
			<br><br>
			<b>Culto(s) organizados:</b>
				<br>Misa dominical para los hermanos cofrades y un triduo por los hermanos fallecidos. 
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			CONTACTO
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Iltre. Patronato de la Stma. Trinidad y Ntra. Señora de las Vacas<br>
			Ermita de Ntra. Sra de las Vacas<br>
			Pza. de las Vacas s/n<br>
			05003 Ávila<br>			
			patronatovirgendelasvacas@gmail.com
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PROCESIONES
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Procesión de La Ilusión (Lunes Santo)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_encuentro_1_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo de la Ilusión
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Manuel Ortega<br>
		    Fecha: 1990<br>
		    El Cristo de la Ilusión es una talla de madera de pino ruso, tallada por el escultor murciano D. Manuel Ortega que habia terminado el año anterior en el Cerro de los Angeles, adquirida en 1990.<br>
		    En 1991 estrenó unas andas nuevas, talladas en madera de nogal por el escultor abulense D. Rafael Gonzalez Gonzalez a quien habian sido encargadas por varios cofrades y simpatizantes				
			<br><br>
			<img src="./resources/pasos/ilusion_vacas.jpg" style="display:block;margin:auto;width:80%;max-width:300px">			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	