<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_h_esperanza" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_h_esperanza").click(function(e){
			if(referrer_from_proce=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_herman_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_proce,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_proce="";				
				});
			}	
		});
	</script>
</div>

<div class="ov_vertical_space_04">&nbsp;</div>
<div class="ov_vertical_space_04">&nbsp;</div>

<div id="ov_zone_13_h_esperanza" class="ov_zone_13_b">
		
	<div id="ov_box_13_h_esperanza" class="ov_box_13_b">
		<div id="ov_box_14_h_esperanza" class="ov_box_14">
			<img src="styles/images/escudos/esperanza.JPG" id="ov_image_03_4" class="ov_image_03" alt="circle_04"/>
		</div>
		<div id="ov_box_15_h_esperanza" class="ov_box_15">
			<div id="ov_text_15_h_esperanza" class="ov_text_15">
				<br>				
				Hermandad de Ntra. Sra. de la Esperanza
			</div>
						
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>



<div id="ov_zone_14_h_esperanza" class="ov_zone_14">
	<div id="ov_box_17_h_esperanza" class="ov_box_17">
		<div id="ov_text_16_h_esperanza" class="ov_text_16">
			Corrían los primeros meses del año 1954 cuando un grupo del Colegio de Agentes Comerciales de Ávila, a cuyo frente se encontraba su presidente D. Mariano del Barrio, deciden constituir una cofradía bajo la advocación de su patrona la Virgen de la Esperanza.<br>
			Debido a la crisis de la Semana Santa de la década de los años 60 la cofradía deja de participar en las procesiones. Corría el año 1988 cuando los Agentes Comerciales deciden incorporarse de nuevo a la Semana Santa, pero en esta ocasión admitiendo como cofrades a personas que no pertenecían al gremio.<br>
			En el año 1992, con la incorporación a las procesiones de Semana Santa del Patronato de la Santísima Trinidad y Nuestra Señora de la Vacas, ambas cofradías organizan la "Procesión del Encuentro".
		</div>
		
		<div id="ov_text_16_h_esperanza_3" class="ov_text_16">
			<span class="ov_span_02">Datos.</span><br><br>
			<span class="ov_span_01">Hábito:</span><br>Túnica de color blanco con fajín y botonadura en verde, caperuza blanco, con el emblema de la Hermandad, y capa verde
			<br><br>
			<img src="styles/images/habitos/la_esperanza.png" class="ov_image_11"/>
			<br><br>
			<span class="ov_span_01">Templo de Residencia Canónica:</span><br>Iglesia de San Juan Bautista
			<br><br>
			<span class="ov_span_01">Fundación:</span><br>1954
			<br><br>
			<span class="ov_span_01">Hermanos:</span><br>630
			<br><br>
			<span class="ov_span_01">Nazarenos:</span><br>250 y 70 braceros
			<br><br>
			<span class="ov_span_01">Atributos de los Hermanos:</span><br>Vela eléctrica con farol.
			<br><br>
			<span class="ov_span_01">Culto(s) organizados:</span><br>Triduo en el mes de Diciembre con motivo de la fiesta principal de Nuestra Señora de la Esperanza.<br>Triduo en honor a Jesús de la Salud el primer fin de semana de Marzo.
				<br>Fiestas de San Juan Bautista, el 24 de junio.
				<br>Colaboración a lo largo del año en los cultos organizados por la parroquia de San Juan Bautista
			<br><br>
			<span class="ov_span_01">Cofradías con que está hermanada:</span><br>Real, Ilustre y Fervorosa Hermandad y Cofradía de Nazarenos de Nuestra Señora del Santo Rosario, Nuestro Padre Jesús de la Sentencia y María Santísima de la Esperanza Macarena de Sevilla.(año 2002)
			<br>Cofradía de Nuestra Señora del Consuelo (Vulgo Rosarito) de Ávila.(año 2006)
			<br>Confraternización con la Pontificia y Real Archicofradía del Dulce Nombre de Jesús Nazareno del Paso y María Santísima de la Esperanza de Málaga. (Año 2008)
			
		</div>
		<div id="ov_text_16_h_esperanza_6" class="ov_text_16">
			<span class="ov_span_02">Contacto.</span><br><br>
			Hermandad de Ntra. Sra. de la Esperanza<br>
			C/ Blasco Jimeno 8<br>
			05001 Ávila<br>
			esperanzadeavila@gmail.com
		</div>
		<div id="ov_text_16_h_esperanza_2" class="ov_text_16">
			<span class="ov_span_02">Procesiones.</span><br><br>
			<div id="ov_text_17_h_esperanza_1" class="ov_text_17">
				Procesión de La Esperanza (14 de Abril, Lunes Santo)
			</div>
			<script>
				$("#ov_text_17_h_esperanza_1").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_esperanza_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_encuentro_2_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>	
		<div id="ov_text_16_h_esperanza_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_h_esperanza_1" class="ov_text_18">
				<span class="ov_span_03">Ntra. Sra. de la Esperanza</span>
				<div id="ov_text_19_h_esperanza_1" class="ov_text_19">					
				    Autor: D. Manuel Ortega<br>
				    Fecha: 1954<br>
				    Nuestra Señora de la Esperanza es un encargo del Colegio de agentes comerciales. Salió por primera vez el Lunes Santo de 1955. Fue enclavada en la Iglesia parroquial de San Juan Bautista donde permanece durante todo el año a la veneración de los fieles.
					<br><br>
					<img src="styles/images/pasos/esperanza_esperanza.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>
			<div id="ov_text_18_h_esperanza_2" class="ov_text_18">
				<span class="ov_span_03">Jesús de la Salud</span>
				<div id="ov_text_19_h_esperanza_2" class="ov_text_19">					
				    Autor: D. Pedro Gonzalez Martín<br>
				    Fecha: 1990<br>
				    Fue bendecida el día 16 de diciembre de 2006 en la Iglesia de San Juan Bautista por el Vicario del Obispado de Ávila. Desde 2007 procesiona a hombros en la Semana Santa abulense el Lunes Santo, precediendo a Ntra. Sra. de la Esperanza. 
					<br><br>
					<img src="styles/images/pasos/jesus_esperanza.jpg" class="ov_image_12"/>
					<br>
				</div>
			</div>			
		</div>
			
	</div>
</div>	

