<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/soledad.jpg" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Cofradía Damas de la Soledad</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			El 14 de Febrero de 1957 es erigida en la iglesia de Mosén Rubi la Asociación piadosa de las Damas de la Soledad con el objeto de "promover la perfección cristiana e incrementar el culto público, proponer, como medio, a las mujeres abulenses la devoción a la Santísima Virgen María, bajo la advocación de su soledad y contribuir, con espíritu de recogimiento y presencia, al esplendor litúrgico de la Semana Santa".
			<br>
			La primera procesión se realizó ese mismo año con una imagen de la Dolorosa cedida por la Cofradía de Nuestra señora de las Angustias y Santo Sepulcro y partió de la iglesia de Santo Tome. Ya en 1958 la cofradía adquiere la actual imagen de Ntra. Sra. de la Soledad. En el año 1963 la cofradía se traslada a la iglesia de San Pedro, sede definitiva de la misma. La cofradía esta formada totalmente por mujeres.	
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			DATOS
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			<b>Hábito:</b><br>Traje negro con mantilla española y cruz de madera con cordón blanco.
			<img src="./resources/habitos/soledad.png" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Iglesia de San Pedro Apóstol
			<br><br>
			<b>Fundación:</b><br>1957.
			<br><br>
			<b>Hermanos:</b><br>350.
			<br><br>
			<b>Nazarenos:</b><br>150.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Vela eléctrica
			<br><br>
			<b>Culto(s) organizados:</b>
				<br> Quinario en la semana anterior a Semana Santa y fiesta de la virgen de los Dolores el 15 de septiembre.		
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			CONTACTO
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Cofradía Damas de la Soledad<br>
			Parroquia de San Pedro Apostol<br>
			Pza. de Santa Teresa<br>
			05001 Ávila<br>
			tlf: 920 226117<br>
			soledaddeavila@gmail.com
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PROCESIONES
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Procesión de la Soledad (Sábado Santo)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_soledad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Las Tres Marías
		</div>
		
		<!--<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: buscar
			<br>
			Fecha: buscar
			<br><br>
			buscar
			<br><br>			
			<img src="./resources/pasos/buscar.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>-->
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Ntra. Señora de la Soledad
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Eduardo Capa Sacristán
			<br>
			Fecha: 1958
			<br><br>
			La imagen de la Soledad de María se encargó al prestigioso escultor D. Eduardo Capa Sacristan, conocido en Ávila, donde realizó sus primeros estudios como alumno de la Escuela de Artes yOficios Artísticos, el cual entregó la imagen el día 30 de Marzo de 1958, siendo bendicida al día siguiente, Martes Santo, por el Obispo de la Diócesis.La imagen es una talla de 1.80 m. de alta, policromada; para la túnica se ha empleado el rosa pálido, mientras que su manto es verde oliva con matices grises; representa a la Virgen, de pie, en actitud llorosa, apoyada su espalda sobre la cruz, que ya no sostiene el cuerpo de su Hijo; su mirada en éxtasis amoroso, caído su brazo derecho, al tiempo que el izquierdo apoya la mano en su pecho, oprimido por el ahogo de su hondo pesar e imprime a su rostro toda la amargura que, no obstante, intenta mantener en silencio, concentrándolo en su corazón
			<br><br>		
			<img src="./resources/pasos/soledad_soledad.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
			
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	