<script>
	$("#ov_view_container_02").css("background-color","#EBEBEB");	
</script>

<!-- Publi -->
<div id="ov_zone_08_5" class="ov_zone_08">
	
</div>
<script>	
	load_ads("ov_zone_08_5");	
</script>
<div class="ov_vertical_space_05">&nbsp;</div>
<!-- Publi -->
<!-- Volver -->
<div id="ov_zone_11_1" class="ov_zone_11_b">
	<div id="ov_text_11_h_estudiantes" class="ov_text_11">
		<img src="styles/images/atras.png" id="ov_image_09_1" class="ov_image_09" alt="arrow_05"/> volver
	</div>
	<script>
		$("#ov_text_11_h_estudiantes").click(function(e){
			if(referrer_from_proce=="")
			{
				$('#ov_view_container_01').load("./views/general/ov_view_herman_01.html",function(){
					$('#ov_view_container_01').show('slide',{direction: "left"},500);
					$('#ov_view_container_02').hide('slide',{direction: "right"},500);				
				});
			}
			else
			{
				$('#ov_view_container_02').load(referrer_from_proce,function(){
					$('#ov_view_container_02').show('slide',{direction: "right"},500);
					$('#ov_view_container_01').hide('slide',{direction: "left"},500);
					referrer_from_proce="";				
				});
			}	
		});
	</script>
</div>
<div class="ov_vertical_space_06">&nbsp;</div>
<!-- Volver -->

<div id="ov_zone_13_h_estudiantes" class="ov_zone_13_b">
		
	<div id="ov_box_13_h_estudiantes" class="ov_box_13_b">
		<div id="ov_box_14_h_estudiantes" class="ov_box_14">
			<img src="styles/images/escudos/estudiantes.JPG" id="ov_image_03_4" class="ov_image_03" alt="circle_04"/>
		</div>
		<div id="ov_box_15_h_estudiantes" class="ov_box_15">
			<div id="ov_text_15_h_estudiantes" class="ov_text_15">
				
				Hermandad Universitaria del Stmo. Cristo de los Estudiantes y María Santísima Sede de la Sabiduria
				<br><br>
			</div>
						
		</div>
		<div class="ov_clear_floats_01">&nbsp;</div>
	</div>
	
</div>

<div class="ov_vertical_space_01">&nbsp;</div>



<div id="ov_zone_14_h_estudiantes" class="ov_zone_14">
	<div id="ov_box_17_h_estudiantes" class="ov_box_17">
		<div id="ov_text_16_h_estudiantes" class="ov_text_16">
			La Hermandad Universitaria del Santísimo Cristo de los Estudiantes y María Santísima Sede de la Sabiduría nace bajo la iniciativa de la Universidad Católica Santa Teresa de Jesús de Ávila, con el objetivo primordial de contribuir a la Nueva Evangelización y ahondar en el dialogo Fe-Razón, deseos ambos del Santo Padre, Benedicto XVI. Procesiona por primera vez el 23 de abril de 2011, acompañando a la Cofradía de las Damas de la Soledad en su estación de penitencia del Sábado de Dolores
			<br>
			El Decreto de Erección de esta Asociación de Fieles es emitido por el Excmo. y Rvdmo. Sr. D. Jesús García Burillo, Obispo de Ávila, el 5 de diciembre de 2011, fecha en la que también se aprueban sus Estatutos. Esta normativa de gobierno recoge como fines primordiales de esta Hermandad, además de fomentar la devoción y el culto al Santísimo Cristo de los Estudiantes, que se venera en el templo parroquial de San Pedro Apóstol, y a la Virgen María en su advocación de "Trono de la Sabiduría", transmitir la fe cristiana en el ámbito estudiantil e intelectual, ejercer la caridad cristiana en favor de los más desfavorecidos, y contribuir al aumento del fervor y devoción popular a la Pasión de Cristo en las procesiones de Semana Santa.
			<br>
			Esta Cofradía Penitencial toma como lema el del centro universitario: "Sapientia in Veritatis Libertate", y establece como hábito, la túnica y el capirote morado, color nazareno por antonomasia; la capa de color negro, en señal de luto. Los hermanos cofrades deben llevar al pecho la Medalla de la Hermandad, que reproduce la de la Universidad, y portan sobre sus manos, cubiertas con guantes negros, la Sagrada Biblia.
			<br>
			En honor del Santísimo Cristo de los Estudiantes y María Santísima Sede de la Sabiduría, la Hermandad celebra un solemne Triduo, que finaliza el día de la festividad de Nuestra Señora de Lourdes con la celebración de una Misa Solemne. En su ofertorio, todos los miembros de la Hermandad, encabezados por la Junta Directiva, hacen pública Declaración de Fe.
		</div>
		
		<div id="ov_text_16_h_estudiantes_3" class="ov_text_16">
			<span class="ov_span_02">Datos.</span><br><br>
			<span class="ov_span_01">Hábito:</span><br>Túnica y capirote de color morado; capa de color negra. Cíngulo dorado, calzado oscuro, manos cubiertas con guantes negros. 
			<br><br>
			<img src="styles/images/habitos/estudiantes.png" class="ov_image_11"/>
			<br><br>
			<span class="ov_span_01">Templo de Residencia Canónica:</span><br>Parroquia de San Pedro Apostol.
			<br><br>
			<span class="ov_span_01">Fundación:</span><br>2012.
			<br><br>
			<span class="ov_span_01">Hermanos:</span><br>90.
			<br><br>
			<span class="ov_span_01">Nazarenos:</span><br>70.
			<br><br>
			<span class="ov_span_01">Atributos de los Hermanos:</span><br>En las manos portan una Biblia y al cuello, sobre la túnica, la Medalla de la Hermandad
			<br><br>
			<span class="ov_span_01">Culto(s) organizados:</span><br>Triduo al Santísimo Cristo de los Estudiantes y María Santísima Sede de la Sabiduría. Festividad de Ntra. Sra. de Lourdes (11 de febrero).
		</div>
		<div id="ov_text_16_h_estudiantes_6" class="ov_text_16">
			<span class="ov_span_02">Contacto.</span><br><br>
			Hermandad de Los Estudiantes,<br>
			C/ Canteros s/n, 05005 Ávila<br>
			Teléfono: 920 25 10 20 Ext. 211<br>			
			sergio.nanez@ucavila.es<br>
		</div>
		<div id="ov_text_16_h_estudiantes_2" class="ov_text_16">
			<span class="ov_span_02">Procesiones.</span><br><br>
			<div id="ov_text_17_h_estudiantes_1" class="ov_text_17">
				Procesión de los Estudiantes (12 de Abril, Sábado Víspera de Ramos)
			</div>
			<script>
				$("#ov_text_17_h_estudiantes_1").click(function(e){
					referrer_from_herman="./views/hermandades/ov_view_h_estudiantes_01.html";
					$('#ov_view_container_02').load("./views/procesiones/ov_view_estudiantes_01.html",function(){
						$('#ov_view_container_02').show('slide',{direction: "right"},500);
						$('#ov_view_container_01').hide('slide',{direction: "left"},500);
						$('body,html').scrollTop("0px");				
					});	
				});
			</script>
		</div>	
		<div id="ov_text_16_h_estudiantes_4" class="ov_text_16">
			<span class="ov_span_02">Pasos.</span><br><br>
			<div id="ov_text_18_h_estudiantes_1" class="ov_text_18">
				<span class="ov_span_03">Cristo de los Estudiantes</span>
				<div id="ov_text_19_h_estudiantes_1" class="ov_text_19">					
				    Autor:  Anónimo<br>
				    Fecha: s.XVII<br>
				    La imagen está tallada en madera y policromada con suma delicadeza.
					Se advierten los latigazos repartidos por el cuerpo y pequeños detalles como el vello del pecho y el realismo de la sangre, realizada con lacas brillantes que son un tipo de pigmentos muy delicados pero que han tenido una buena conservación en esta pieza.
					<br>
					El paño de pureza del Cristo es una tela encolada y enyesada con delicadas incrustaciones doradas, algo que hace que la pieza tenga un carácter excepcional.
					También la Cruz presenta un curioso detalle ya que se trata de una cruz de madera que se ha policromado de manera que la pintura imita los nudos y vetas de la madera.
					<br><br>
					<img src="styles/images/pasos/cristo_estudiantes.JPG" class="ov_image_12"/>
					<br>
				</div>
			</div>				
		</div>
			
	</div>
</div>	

