<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/esperanza.JPG" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de Ntra. Sra. de la Esperanza</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Corrían los primeros meses del año 1954 cuando un grupo del Colegio de Agentes Comerciales de Ávila, a cuyo frente se encontraba su presidente D. Mariano del Barrio, deciden constituir una cofradía bajo la advocación de su patrona la Virgen de la Esperanza.<br>
			Debido a la crisis de la Semana Santa de la década de los años 60 la cofradía deja de participar en las procesiones. Corría el año 1988 cuando los Agentes Comerciales deciden incorporarse de nuevo a la Semana Santa, pero en esta ocasión admitiendo como cofrades a personas que no pertenecían al gremio.<br>
			En el año 1992, con la incorporación a las procesiones de Semana Santa del Patronato de la Santísima Trinidad y Nuestra Señora de la Vacas, ambas cofradías organizan la "Procesión del Encuentro".	
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			DATOS
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			<b>Hábito:</b><br>Túnica de color blanco con fajín y botonadura en verde, caperuza blanco, con el emblema de la Hermandad, y capa verde
			<img src="./resources/habitos/la_esperanza.png" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Iglesia de San Juan Bautista
			<br><br>
			<b>Fundación:</b><br>1954.
			<br><br>
			<b>Hermanos:</b><br>630.
			<br><br>
			<b>Nazarenos:</b><br>250 y 70 braceros.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Vela eléctrica con farol
			<br><br>
			<b>Culto(s) organizados:</b>
				<br>Triduo en el mes de Diciembre con motivo de la fiesta principal de Nuestra Señora de la Esperanza.<br>Triduo en honor a Jesús de la Salud el primer fin de semana de Marzo.
				<br>Fiestas de San Juan Bautista, el 24 de junio.
				<br>Colaboración a lo largo del año en los cultos organizados por la parroquia de San Juan Bautista
				<br><br>
			<b>Cofradías con que está hermanada:</b>
				<br>Real, Ilustre y Fervorosa Hermandad y Cofradía de Nazarenos de Nuestra Señora del Santo Rosario, Nuestro Padre Jesús de la Sentencia y María Santísima de la Esperanza Macarena de Sevilla.(año 2002)
				<br>Cofradía de Nuestra Señora del Consuelo (Vulgo Rosarito) de Ávila.(año 2006)
				<br>Confraternización con la Pontificia y Real Archicofradía del Dulce Nombre de Jesús Nazareno del Paso y María Santísima de la Esperanza de Málaga. (Año 2008)
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			CONTACTO
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Hermandad de Ntra. Sra. de la Esperanza<br>
			C/ Blasco Jimeno 8<br>
			05001 Ávila<br>
			esperanzadeavila@gmail.com
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PROCESIONES
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Procesión de La Esperanza (14 de Abril, Lunes Santo)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_encuentro_2_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Ntra. Sra. de la Esperanza
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Manuel Ortega<br>
		    Fecha: 1954<br>
		    Nuestra Señora de la Esperanza es un encargo del Colegio de agentes comerciales. Salió por primera vez el Lunes Santo de 1955. Fue enclavada en la Iglesia parroquial de San Juan Bautista donde permanece durante todo el año a la veneración de los fieles.
			<br><br>
			<img src="./resources/pasos/esperanza_esperanza.jpg" style="display:block;margin:auto;width:80%;max-width:300px">			
		</div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Jesús de la Salud
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: D. Pedro Gonzalez Martín<br>
		    Fecha: 1990<br>
		    Fue bendecida el día 16 de diciembre de 2006 en la Iglesia de San Juan Bautista por el Vicario del Obispado de Ávila. Desde 2007 procesiona a hombros en la Semana Santa abulense el Lunes Santo, precediendo a Ntra. Sra. de la Esperanza. 
			<br><br>	
			<img src="./resources/pasos/jesus_esperanza.jpg" style="display:block;margin:auto;width:80%;max-width:300px">			
		</div>
			
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	